<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-10">
                    <p class="Heading">Trainer and Course</p>
                </div>
                <div class="col-lg-2">
                    <p class="Text" style="float:right; padding-right:50px;">Count:1</p>
                </div>
            </div>
            <hr class="HrLine">

            <div class="row FilterClass ">
                <div class="col-lg-1">
                    <p class="Text">Filter By</p>
                </div>
                <div class="col-lg-6">
                    <!-- <input type="search" class="form-control" placeholder="Search for Name.." [(ngModel)]="search"
                        name="search"> -->
                        <input type="search" class="form-control" placeholder="Search for Name..">
                </div>
                <div class="col-lg-1"></div>
            </div><br>
            <div class="row">
                <div class="col-lg-9"></div>
                <div class="col-lg-3">
                    <button class=button routerLink="/TrainerCourseMappingForm">Add</button>
                </div>
            </div> <br>


            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- <table class="table" *ngIf="(vendordetails | filter: search).length > 0; else noResults"> -->
                            <table class="table table-bordered">
                            <thead>
                                <tr class="head">
                                    <th>Trainer Name</th>
                                    <th>Course Name</th>
                                    <th>Email Id</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Batch Name</th>
                                    <th>Number of Students Enrolled</th>
                                    <th>Actions</th>
                                </tr>
                                <!-- <tr *ngFor="let vendor of vendordetails|filter:search">
                                    <td><img style="width: 100px;" src="{{vendor.vendor_Logo}}"></td>
                                    <td>{{vendor.vendor_Name}}</td>
                                    <td>{{vendor.phone_Number}}</td>
                                    <td>{{vendor.email_ID}}</td>
                                    <td>{{vendor.address}}</td>
                                    <td><button class="button1" (click)="edit(vendor.id)">Edit</button> <br> <br>
                                        <button class="button2" (click)="Ondelete(vendor.id)">Delete</button>
                                    </td>
                                </tr> -->
                                <tr class="head">
                                    <td>Suresh</td>
                                    <td>Active listening and Customer Satisfaction</td>
                                    <td>pavan123@gmail.com</td>
                                    <td>11-01-2022</td>
                                    <td>11-03-2022</td>
                                    <td>Batch1</td>
                                    <td>20</td>
                                    <td><button class="button1" >Edit</button> <br> <br>
                                        <button class="button2" >Delete</button>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                        <!-- <ng-template #noResults>
                            <p class="NoResultShow"> No results found for "{{search}}" </p>
                        </ng-template> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>