
<br>
<div class="container-fluid">
    <div class="row">
       <img style="width:30px;height:auto;margin-left:15px; border-radius: 5px;"  src="assets/Images/back-arrow.png">
        <div class="col-lg-6">
           &nbsp; &nbsp;
           <p style="font-size: 20px;">Lp Gp Case</p>
        </div>    
    </div> <hr>
    <div class="row">
        <div class="col-lg-4">
            <p style="font-size: 18px;">Completed 0 of 2</p>
        </div>
        <div class="col-lg-8">
            <p style="float:right;font-size: 16px;">Enrolled On 2019-10-04 18:46:03</p>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
             <p class="Stage">Stage and Course Details.</p>
            </div>
            <div class="col-lg-2">
                <p  class="Stage" >Assigned On</p>
            </div>
            <div class="col-lg-2">
              <p  class="Stage">Progress(%)</p>
            </div>
            <div class="col-lg-2">
                <p  class="Stage">Score(%)</p>
            </div>
            <div class="col-lg-2">
                <p  class="Stage">Result</p>
            </div>
        </div> 
        <!-- <hr class="hrline"> -->
    </div>

</div>
