.card{
    margin: 10px;
    background-color: rgb(113, 187, 236);
    color: white;
}
button{
    padding:5px;
    border-radius: 5px;
    color:white;
    background-color: #030a0f;
    border:none;
    
}