<div class="card card1">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-9">
                <h1>Adaptive Skills to Cope with Stress</h1>
                <table>
                    <tr>
                        <td>
                            <p>Developing Adaptive skills for coping with stressful situations occurring in the
                                workplace.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Trainer: <br>
                            <p>Pavan Kumar</p>
                        </td>
                        <td>
                            <p>No of Hours:<br>
                            <p>2 hrs/day</p>
                           
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Start Dtae: <br>
                            <p>30th Jan 2021 </p>
                          
                        </td>
                        <td>
                            <p>End Date:<br>
                            <p>30th March 2021</p>
                          
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p>Entry Criteria<br>
                            <p>Basic knowledge in communication and a good understanding of English</p>
                         
                        </td>
                        <td>
                            <p>Exit Criteria<br>
                            <p>YOU WILL BE ELIGIBLE FOR A CERTIFICATE ONLY IF AVERAGE ASSIGNMENT SCORE >=10/25 AND EXAM
                                SCORE >= 30/75. </p>
                        </td>

                    </tr>

                </table>

                <hr>

            </div>
            <div class="col-lg-3">
                <button class="button" data-toggle="modal" data-target="#enroll">ENROLL</button><br>
                <img src="assets/Images/course1.png">
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card chapter">
    <div class="row">
        <div class="col-lg-12 chapter" data-toggle="collapse" id="#demo">
            <a href="#demo" class="chapter" data-toggle="collapse">Chapter-1</a>
        </div>
    </div>
    <div id="demo" class="collapse">
        <img src="../../../assets/Images/course1.png">
        <h3 class="chapter">SPi Global Overview <br>
            <p>SPi Global Overview</p>
        </h3>

        <hr>
    </div>
</div>

<div class="card chapter">
    <div class="row">
        <div class="col-lg-12 chapter" data-toggle="collapse" id="#demo2">
            <a href="#demo2" class="chapter" data-toggle="collapse">Chapter-2</a>
        </div>
    </div>
    <div id="demo2" class="collapse">
        <img src="../../../assets/Images/course2.png">
        <h3 class="chapter">Anti Money Laundering<br>
            <p>Anti Money Laundering
        </h3>
        <p class="chapter">
            Stress is a part of daily living and each individual responds to stress differently. Thus there’s no “one
            size fits all” solution to managing stress. Stress management techniques can teach an individual healthier
            ways to cope with stress, help reduce its harmful effects, and prevent stress from spiraling out of control
            again in the future. The goal of stress management is not to eliminate all stress.
            This course aims to teach the student how to limit the harmful effects of stress while maintaining life’s
            quality and vitality.
        <br><br>
        
            Duration : 4 weeks<br>
            Start Date : 29 Jan 2022<br>
            End Date : 23 Feb 2022<br>
            Exam Date : 29 March 2022 IST<br>
            Category :Multidisciplinary<br>
            Credit Points : 1<br>
            Level : Undergraduate<br>
        
        <br>Course Material<br>
        <img class="image" src="../../../assets/Images/pdf.jpg">
        <br><br>
            CRITERIA TO GET A CERTIFICATE<br>
            Average assignment score = 25% of average of best 3 assignments out of the total 4 assignments given in the
            course.<br>
            Exam score = 75% of the proctored certification exam score out of 100<br>
            Final score = Average assignment score + Exam score
        </p>

        <hr>
    </div>
</div>


<div id="enroll" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Enroll for Course</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text">Name:</label>
                    </div>
                    <div class="col-lg-5">
                        <!-- <select class="form-control" [(ngModel)]="Hired">
                            <option value="">Select </option>
                            <option>Yes</option>  
                            <option>No</option> 
                        </select> -->
                        <input class="form-control" name="NoofpositionsHired" id="NoofpositionsHired"
                            placeholder="Peeter Ferin" disabled>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text" style="font-weight: bold;">Phone No:</label>
                    </div>
                    <div class="col-lg-5">
                        <input class="form-control" name="NoofpositionsHired" id="NoofpositionsHired"
                            placeholder="9843873473" disabled>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text" style="font-weight: bold;">Email:</label>
                    </div>
                    <div class="col-lg-5">
                        <input class="form-control" name="NoofpositionsHired" id="NoofpositionsHired"
                            placeholder="Ferin123@gmail.com" disabled>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-2">
                        <button class="form-control Save" (click)="enroll()">Enroll</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <hr>
                <div class="col-lg-2">
                    <button data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

