<div class="card card1">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-9">
                <h1>{{coursedetails[0].courseName}}</h1>
                <table>
                    <tr>
                        <td>
                            <p>{{coursedetails[0].courseDescription}}</p>
                        </td>
                    </tr>
                </table>
                <hr>
                <div class="row">
                    <div class="col-lg-2">
                        <p>Trainer :</p>
                    </div>
                    <div class="col-lg-6">
                        <p>{{coursedetails[0].trainerName}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <p>Start Date :</p>
                    </div>
                    <div class="col-lg-6">
                        <p>{{coursedetails[0].startDate|date}} </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <p>End Date :</p>
                    </div>
                    <div class="col-lg-6">
                        <p>{{coursedetails[0].endDate|date}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <p>Entry Criteria :
                        <p>
                    </div>
                    <div class="col-lg-6">
                        <p>{{coursedetails[0].courseEntryCriteria}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <p>Exit Criteria :
                        <p>
                    </div>
                    <div class="col-lg-6">
                        <p>{{coursedetails[0].courseExitCriteria}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <img style="width:100%;height:auto" src="{{coursedetails[0].photo}}">
            </div>
        </div> <br> <br>
        <div class="row">
            <div class="col-lg-5"></div>
            <div class="col-lg-4">
                <div> <button class="button" data-toggle="modal" data-target="#enroll">ENROLL</button><br>
                </div>
            </div>
        </div>
    </div>
</div> <br>

 <div class="container-fluid">
    <div class="card card2">
        <div class="row">
            <div class="col-lg-7 ">
                <div class="col-lg-12 chapter" 
                    style="font-size: 20px; text-align: center; padding:10px;color: black;">
                    <a href="#demo4" class="chapter" data-toggle="collapse" style="font-size: 18px;color: black;">
                        Sample Chapter</a>
                </div>
                <div id="demo4" class="collapse">
                    <div class="card chapter" *ngFor="let details of chapterdetails">
                        <div class="row">
                            <div class="col-lg-10 chapter" data-toggle="collapse" id="#demo2">
                                <a href="#demo2" class="chapter" data-toggle="collapse" style="font-size: 18px;"
                                    (click)="GetDetails(details.name)">
                                  <u>{{details.name}}</u>  </a>
                            </div>
                            <div id="demo2" class="collapse">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <p class="chapter" style="margin-left: 50px;">
                                            {{details.description}} </p>
                                    </div>
                                    <div class="col-lg-1"></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4" style="margin-left: 50px;">
                                        <br><p><u>COURSE MATERIAL</u></p> <br>
                                        <img class="image" src="assets/Images/pdf.jpg" style="width:20%; height: auto;"
                                            (click)="PreviewPdf()"> &nbsp; &nbsp;
                                        <img class="image" src="assets/Images/Video_lcon.png"
                                            style="width: 20%; height: auto;" (click)="PreviewPdf()"><br>
                                    </div>
                                    <div class="col-lg-7"></div>
                                </div> <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-lg-12 chapter" data-toggle="collapse" id="#demo5"
                    style="font-size: 20px; text-align: center;padding:10px;">
                    <a href="#demo5" class="chapter" data-toggle="collapse"
                        style="font-size: 18px;color: black;">Chapter List
                    </a>
                   </div>
                </div>
                <div id="demo5" class="collapse">
                    <div class="row">
                        <div class="col-lg-9"></div>
                        <div class="col-lg-3">
                            <p>Count : {{count}}</p>
                        </div>
                    </div>
                    <div class="card chapter">
                        <div class="row">
                            <div class="col-lg-12 chapter" data-toggle="collapse" id="#demo3">
                                <ul *ngFor="let details of chapterdetails">
                                  {{details.name}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 



















<div id="enroll" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Enroll for Course</h4>
                <div class="row">
                    <div class="col-lg-11"></div>
                    <div class="col-lg-1">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>
            <div class="modal-body" *ngFor="let item of stafflist">
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text">Name:</label>
                    </div>
                    <div class="col-lg-5">
                        <input class="form-control" name="name" id="name" [(ngModel)]="name" placeholder="{{item.name}}"
                            disabled>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text" style="font-weight: bold;">Phone No:</label>
                    </div>
                    <div class="col-lg-5">
                        <input class="form-control" name="mobile" id="mobile" [(ngModel)]="mobile"
                            placeholder="{{item.mobile}}" disabled>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text" style="font-weight: bold;">Email:</label>
                    </div>
                    <div class="col-lg-5">
                        <input class="form-control" name="emailID" id="emailID" [(ngModel)]="emailID"
                            placeholder="{{item.emailID}}" disabled>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-7"></div>
                    <div class="col-lg-2">
                        <button class="form-control Save" (click)="enroll(item.name,item.mobile,item.emailID)"
                            data-dismiss="modal">Enroll</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <hr>
            </div>
        </div>
    </div>
</div>
<br>