.card1{
    margin: 10px;
    background-color: rgb(73, 90, 107);
    color: white;
}
button{
    padding:10px;
    border-radius: 5px;
    color:white;
    background-color: #030a0f;
    border:none;
    float: right;
    margin-bottom: 5px;
    margin-right: 200px;
    width: 25%;
}
.close{
    background-color:transparent;
    color: black;
}
.chapter{
   
    text-decoration: none;
    margin: 20px;
    text-align: justify;
}
.image{
    width: 10%;
    height: 20%;
}
.Save {
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: #030a0f;
    border: none;
    float: right;
    margin-bottom: 10px;
    margin-right: 40px;
  }

  .CloseBTN {
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: #030a0f;
    border: none;
    float: right;
  }