<div class="card card1">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-9">
                <h1>Java Programming</h1>
                <table>
                    <tr>
                        <td>
                            <p>Java Programming introduces computer programming using the Java Programming Language with
                                object-oriented programming principles. You will get to know about OOP’s Concepts,
                                Classes, and Objects, Threads, Files, Applets, Swings, and Act. Emphasis is laid on
                                Event-Driven Programming Methods including manipulating and creating objects, classes
                                using Java for Network Level Programming, and Middleware Development.</p>
                        </td>
                    </tr>
                </table>
                <hr>
                <div class="row">
                    <div class="col-lg-2">
                        <p>Trainer :</p>
                    </div>
                    <div class="col-lg-6">
                        <p>Pavan Kumar</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2">
                        <p>No of Hours :

                    </div>
                    <div class="col-lg-6">
                        <p>2 hrs/day</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2">
                        <p>Start Date :</p>

                    </div>
                    <div class="col-lg-6">
                        <p>30th Jan 2021 </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <p>End Date :</p>

                    </div>
                    <div class="col-lg-6">
                        <p>30th March 2021</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <p>Entry Criteria :
                        <p>
                    </div>
                    <div class="col-lg-6">
                        <p>Basic knowledge in communication and a good understanding of English</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <p>Exit Criteria :
                        <p>
                    </div>
                    <div class="col-lg-6">
                        <p>YOU WILL BE ELIGIBLE FOR A CERTIFICATE ONLY IF AVERAGE ASSIGNMENT SCORE >=10/25 AND EXAM
                            SCORE >= 30/75. </p>
                    </div>
                </div>
                <hr>
                <div> <button class="button" data-toggle="modal" data-target="#enroll">ENROLL</button><br></div>
            </div>
            <div class="col-lg-3">

                <img src="assets/Images/course1.png">
            </div>
        </div>
    </div>
</div>
<hr>

<!-- <div class="card chapter">
    <div class="row">
        <div class="col-lg-12 chapter" data-toggle="collapse" id="#demo">
            <a href="#demo" class="chapter" data-toggle="collapse">1. Foundamental Concepts of OOps</a>
        </div>
    </div>
    <div id="demo" class="collapse">
        <div class="row">
            <div col-lg-10>
                <h3 class="chapter"> <p  class="chapter">Concepts of OOps Overview</p>
                    <img class="image chapter" src="assets/Images/pdf.jpg" style="width: 5%; height: auto;" (click)="PreviewPdf()">
                   <br>
                    <p class="chapter">
                        Object-Oriented Programming (OOP) consist of some important concepts namely Encapsulation, Polymorphism,<br>
                         Inheritance and Abstraction. ... Class can be considered as the blueprint or a template for an object and <br>
                         describes the properties and behavior of that object, but without any actual existence.<br>
                    </p>
                </h3>
            </div>
            <div col-lg-2>
                <img src="assets/Images/course1.png" style="width: 50%; height: auto;">
            </div>
        </div>
        <hr>
    </div>
</div> -->

<div class="card chapter">
    <div class="row">
        <div class="col-lg-12 chapter" data-toggle="collapse" id="#demo">
            <a href="#demo" class="chapter" data-toggle="collapse">Foundamental Concept of OOps</a>
        </div>
    </div>
    <div id="demo" class="collapse">

        <div class="row">
            <div class="col-lg-8">
                <h3 class="chapter"><img class="image" src="/assets/Images/Video_lcon.png"
                        style="width: 3%; height: auto;" (click)="PreviewPdf()">Overview of OOps Concepts
                    <br>
                    <!-- <img class="image" src="assets/Images/pdf.jpg" style="width: 3%; height: auto;" (click)="PreviewPdf()">&nbsp;
                    <img class="image" src="../../../assets/Images/Video_lcon.png" style="width: 3%; height: auto;" (click)="PreviewPdf()"><br> -->
                </h3>
                <p class="chapter">
                    Object-Oriented Programming (OOP) consist of some important concepts namely Encapsulation,
                    Polymorphism, Inheritance and Abstraction. ... Class can be considered as the blueprint or a
                    template for an object and describes the properties and behavior of that object, but without
                    any actual existence.
                    <br><br>

                    <!-- Duration : 4 weeks<br>
                    Start Date : 29 Jan 2022<br>
                    End Date : 23 Feb 2022<br>
                    Exam Date : 29 March 2022 IST<br>
                    Category :Multidisciplinary<br>
                    Credit Points : 1<br>
                    Level : Undergraduate<br> -->
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-2">
                <img src="assets/Images/course1.png" style="width: 50%; height: auto;margin-bottom: 10px;">
                <hr>
                <br>COURSE MATERIAL<br><br>
                <img class="image" src="assets/Images/pdf.jpg" style="width: 10%; height: auto;"
                    (click)="PreviewPdf()"><br><br>
                <img class="image" src="assets/Images/Video_lcon.png" style="width: 10%; height: auto;"
                    (click)="PreviewPdf()"><br>
            </div>
        </div>

        <!-- <p class="chapter">COURSE CONTENT<br>
            Unit – I<br>
            Introduction to OOP, procedural programming language and object-oriented language, principles of OOP,
            applications of OOP, history of java, java features, JVM, program structure. Variables, primitive data
            types, identifiers, literals, operators, expressions, precedence rules and associativity, primitive type
            conversion and casting, flow of control.
            <br>
            Unit – II<br>
            Classes and objects, class declaration, creating objects, methods, constructors and constructor overloading,
            garbage collector, the importance of static keyword and examples, this keyword, arrays, command line
            arguments, nested classes.
            <br>
            Unit – III<br>
            Inheritance, types of inheritance, super keyword, final keyword, overriding an abstract class. Interfaces,
            creating the packages, using packages, the importance of CLASSPATH, and java.lang package. Exception
            handling, the importance of try, catch, throw throws and finally block, user-defined exceptions, Assertions.
            <br>
            Unit – IV<br>
            Multithreading: introduction, thread life cycle, creation of threads, thread priorities, thread
            synchronization, communication between threads. Reading data from files and writing data to files, random
            access file
            <br>
            Unit – V<br>
            Applet class, Applet structure, Applet life cycle, sample Applet programs. Event handling: event delegation
            model, sources of event, Event Listeners, adapter classes, inner classes
            <br>
            Unit – VI<br>
            AWT: introduction, components and containers, Button, Label, Checkbox, Radio Buttons, List Boxes, Choice
            Boxes, Container class, Layouts, Menu and Scrollbar

            <br><br>
            CRITERIA TO GET A CERTIFICATE<br>
            Average assignment score = 25% of average of best 3 assignments out of the total 4 assignments given in the
            course.<br>
            Exam score = 75% of the proctored certification exam score out of 100<br>
            Final score = Average assignment score + Exam score
        </p> -->

        <hr>
    </div>
</div>

<div class="card chapter">
    <div class="row">
        <div class="col-lg-12 chapter" data-toggle="collapse" id="#demo2">
            <a href="#demo2" class="chapter" data-toggle="collapse">Java Programming</a>
        </div>
    </div>
    <div id="demo2" class="collapse">

        <div class="row">
            <div class="col-lg-8">
                <h3 class="chapter"><img class="image" src="/assets/Images/Video_lcon.png"
                        style="width: 3%; height: auto;" (click)="PreviewPdf()">Java Programming
                    <br>
                    <!-- <img class="image" src="assets/Images/pdf.jpg" style="width: 3%; height: auto;" (click)="PreviewPdf()">&nbsp;
                    <img class="image" src="../../../assets/Images/Video_lcon.png" style="width: 3%; height: auto;" (click)="PreviewPdf()"><br> -->
                </h3>
                <p class="chapter">
                    Java Programming Syllabus contains the topics and subtopics to be covered as a part of the
                    curriculum. We
                    have provided an overview of topics to be prepared during the learning process. Right from the basic
                    one to
                    detailed topic students can access the complete Java Programming Exam Syllabus. It is necessary that
                    students pay attention to the syllabus at the beginning of the academic session itself so that you
                    can
                    prepare in accordance. Plan your studies in advance with the preparation resources available and
                    score
                    better grades in the exam.
                    <br><br>

                    <!-- Duration : 4 weeks<br>
                    Start Date : 29 Jan 2022<br>
                    End Date : 23 Feb 2022<br>
                    Exam Date : 29 March 2022 IST<br>
                    Category :Multidisciplinary<br>
                    Credit Points : 1<br>
                    Level : Undergraduate<br> -->
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-2">
                <img src="../../../assets/Images/course2.png" style="width: 50%; height: auto;margin-bottom: 10px;">
                <hr>
                <br>COURSE MATERIAL<br><br>
                <img class="image" src="assets/Images/pdf.jpg" style="width: 10%; height: auto;"
                    (click)="PreviewPdf()"><br><br>
                <img class="image" src="../../../assets/Images/Video_lcon.png" style="width: 10%; height: auto;"
                    (click)="PreviewPdf()"><br>
            </div>
        </div>

        <hr>
    </div>
</div>



<div id="enroll" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Enroll for Course</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text">Name:</label>
                    </div>
                    <div class="col-lg-5">
                        <!-- <select class="form-control" [(ngModel)]="Hired">
                            <option value="">Select </option>
                            <option>Yes</option>  
                            <option>No</option> 
                        </select> -->
                        <input class="form-control" name="NoofpositionsHired" id="NoofpositionsHired"
                            placeholder="Peeter Ferin" disabled>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text" style="font-weight: bold;">Phone No:</label>
                    </div>
                    <div class="col-lg-5">
                        <input class="form-control" name="NoofpositionsHired" id="NoofpositionsHired"
                            placeholder="9843873473" disabled>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text" style="font-weight: bold;">Email:</label>
                    </div>
                    <div class="col-lg-5">
                        <input class="form-control" name="NoofpositionsHired" id="NoofpositionsHired"
                            placeholder="Ferin123@gmail.com" disabled>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-2">
                        <button class="form-control Save" (click)="enroll()" data-dismiss="modal">Enroll</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <hr>
                <div class="col-lg-2">
                    <button data-dismiss="modal" class="CloseBTN">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>