.Job{
    color:gray;
    padding-left: 10px;
    font-size: 18px;
    padding-top: 20px;
    font-weight: 400;
  }
  .search{
    margin-left: 10px;
  }
  
  .newFont{
   
    color:black;
    width:100%;
    vertical-align: middle;
  }
  /* td{
    background-color: white
  } */
  .table th {
    background-color: #02cfff !important;
    color: #ffffff;
  }
  /* .th{
    background-color: #e4e5e6;
    color:#404040;
    font-family: "DIN Bold";
  } */
  .table, th {
  border: 1px solid lightgray;
   border-collapse: collapse; 
  }
  .Heading{
    padding-left: 15px;
    font-size: 20px;
    color: #3247D5; font-family: 'Poppins';
    }
  .head{
    font-family: 'Poppins';
  }
  .card{
   
    width:100%;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
 }
 
 .count {
  text-align: right;
  padding-right: 10px;
}
    .Button{
      background-color: #007bff;
      color:white;
      padding:5px;
      text-align: center;
      width:100%;
      height:auto;
      border:none;
      border-radius: 5px;
    }
    .selected{
      padding:5px;
      border-radius: 5px;
      border:none;
      color:white;
      background-color:#007bff ;
    }
    .rejected{
      padding:5px;
      border-radius: 5px;
      border:none;
      color:white;
      background-color:red ;
    }
    /* .count{
      font-size: 16px;
    } */

    .underlinetext
{
  text-decoration: 3px solid rgb(72, 83, 238) underline;
  color: rgb(72, 83, 238);
  height: 4px;
}
.underlinetext li a:hover {
  text-decoration: 3px solid rgb(72, 83, 238) underline;
  color:   rgb(72, 83, 238)
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: left;
}

li  {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  text-decoration: 3px solid rgb(72, 83, 238) underline;
  color:   rgb(72, 83, 238)
}
table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
  background-color: #02cfff !important;
  color: #ffffff;
}
.underlinetext
{
  text-decoration: 3px solid rgb(72, 83, 238) underline;
  color: rgb(72, 83, 238);
  height: 4px;
}
.underlinetext li a:hover {
  text-decoration: 3px solid rgb(72, 83, 238) underline;
  color:   rgb(72, 83, 238)
}

.button1{
  padding:5px;
  border-radius: 5px;
  color:white;
  background-color: #3247D5;
  border:none;
  width:100%;

}

.button2{
  padding:5px;
  border-radius: 5px;
  color:white;
  background-color: #3247D5;
  border:none;
  width:15%;
}

.NoResultShow {
  color: #0c275a;
  font-size: 19px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  margin-left: 38px;
}

