.Job {
  color: gray;
  padding-left: 10px;
  font-size: 18px;
  padding-top: 20px;
  font-weight: 400;
}

.search {
  margin-left: 10px;
}

.newFont {
  color: black;
  width: 100%;
  vertical-align: middle;
}

.table {
  border-radius: 5px;
}
th,
td {
  border: 1px #404040;
  border-collapse: collapse;
}
.Heading {
  padding-left: 15px;
  font-size: 20px;
}

/* .head {
    background-color:#02CFFF;
    color:white;
    font-family: 'Poppins';
    padding: 3px;
  } */

.count {
  text-align: right;
  padding-right: 10px;
}

.button1 {
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: #3247d5;
  border: none;
  width: 100%;
}

.button2 {
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: #3247d5;
  border: none;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  text-decoration: 3px solid rgb(72, 83, 238) underline;
  color: rgb(72, 83, 238);
}

.button {
  text-transform: uppercase;
  font-weight: initial;
  text-shadow: initial;
  letter-spacing: 0.5px;
  background-color: #3247d5;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px;
  width: 40%;
  float: right;
  margin-right: 15px;
  font-size: 15px;
  font-weight: bold;
}

.FilterClass {
  padding-left: 15px;
}

.NoResultShow {
  color: #0c275a;
  font-size: 19px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  margin-left: 38px;
}

.image {
  width: 70%;
  height: auto;
}
/* .card{
    width: 1199px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    left: 20px;
  } */
.card {
  width: 100%;
  background: #ffffff;
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}

.headings {
  height: 15px;
  left: 221px;
  top: 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: #3247d5;
}
/* .count {
  height: 15px;
  left: 221px;
  top: 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: #0c275a;
} */

.filter {
  margin-top: 10px;
  height: 13px;
  left: calc(50% - 56px / 2 - 441px);
  top: 180px;
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
  color: #0c275a;
}

.search {
  left: 0%;
  right: 0%;
  top: 35.59%;
  bottom: 0%;
  background: #ffffff;
  border: 1px solid #bbbbbb;
  box-sizing: border-box;
  border-radius: 5px;
}

.addnew {
  width: 116px;
  height: 37px;
  background: #3247d5;
  border-radius: 5px;
  color: white;
  text-align: center;
  border: none;
  float: right;
  margin-right: 10px;
}
.head {
  width: 1199px;
  height: 50px;
  right: 20px;
  top: 264px;
  background: #02cfff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: white;
}

.header {
  height: 17px;
  left: 17.5%;
  right: 76.67%;
  top: 331px;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  color: #0c275a;
}
