<div class="container-fluid">
 
            <div class="row">
                <div class="col-lg-10">
                    <p class="headings">Category Dashboard</p>
                </div>
                <div class="col-lg-2">
                    <p class="count" >Count: {{count}}</p>
                </div>
            </div>

           <div class="card">
               <br>
            <div class="row FilterClass ">
                <div class="col-lg-1">
                    <p class="filter">Filter By </p>
                </div>
                <div class="col-lg-5">
                        <input type="search" class="form-control search" placeholder="Search for Categoy..." [(ngModel)]="search">
                </div>
            </div> <br>
        </div> <br>
            <div class="row">
                <div class="col-lg-10"></div>
                <div class="col-lg-2">
                    <button class="addnew" routerLink="/CategoryForm">Add</button>
                </div>
            </div> <br>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table" *ngIf="(result | filter:search).length > 0; else noResults" >
                            <thead>
                                <tr>
                                    <!-- <th>Sl No.</th> -->
                                    <th>Category Name</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let details of result | filter: search index as i ">
                                    <!-- <td>{{i+1}}</td> -->
                                    <td>{{details.name}}</td>
                                    <td style="word-wrap: break-word; width: 65%;">{{details.description}}</td>
                                    <td>
                                        <!-- <button class="actionbuttons" routerLink="/CategoryForm" [routerLink]="['/CategoryForm', details.id]">Edit</button><br><br>
                                        <button class="actionbuttons" (click)="Ondelete(details.id)">Delete</button> -->

                                        <img src="assets/Images/Edit_ICON.png" alt="Edit_ICON" style="width:20px;"
                                        routerLink="/CategoryForm" [routerLink]="['/CategoryForm', details.id]"> &nbsp;&nbsp;

                                        <img src="assets/Images/Delete_ICON.png" alt="Delete_ICON"
                                        (click)="Ondelete(details.id)" style="width:20px;">
                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ng-template #noResults>
                            <p class="NoResultShow"> No results found for "{{search}}" </p>
                        </ng-template>
                    </div>
                </div>
            </div>
</div>
