<div class="container-fluid">

    <div class="row">
        <div class="col-lg-10">
            <p class="headings">Assign Course Dashboard</p>
        </div>
        <div class="col-lg-2">
            <p class="Text" style="float:right; padding-right:50px; color: #3247D5; ">Count: {{count}}</p>
        </div>
    </div>
    <div class="card">
        <br>
        <div class="row FilterClass ">
            <div class="col-lg-1">
                <p class="Text">Filter By</p>
            </div>
            <div class="col-lg-5">
                <input type="search" class="form-control" placeholder="Search for Name.." [(ngModel)]="search">
            </div>
        </div><br>
    </div> <br>
   
   
      
   

    <div class="row">
        <div class="col-lg-9"></div>
        <div class="col-lg-3">
            <button class="button" routerLink="/AssignCourseToEmployee">Add</button>
        </div>
    </div> <br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered" *ngIf="(result | filter: search).length > 0; else noResults">
                    <thead>
                        <tr class="head">
                            <th>Employee Name</th>
                            <th>Course Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="header" *ngFor="let details of result|filter:search">
                            <td>{{details.employeeName}}</td>
                            <td>{{details.name}}</td>

                            <td>
                                <!-- <button class="actionbuttons" routerLink="/CategoryForm" [routerLink]="['/CategoryForm', details.id]">Edit</button><br><br> -->
                                <button class="button" (click)="Ondelete(details.id)">Delete</button><br><br>
                                <button class="button" (click)="Ondelete(details.id)">Edit</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ng-template #noResults>
                    <p class="NoResultShow"> No results found for "{{search}}" </p>
                </ng-template>
            </div>
        </div>
    </div>


</div>