.card {
  width: 100%;
  background: #ffffff;
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}
/* .button
{
    border: none;
    width:80%;
    height:auto;
    border-radius: 5px;
    background-color: #2f87cc;
    color:white;
    font-size: 15px;
} */
.course {
  font-size: 15px;
}

.button2 {
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: #2f87cc;
  border: none;
  width: 80%;
}
.head {
  font-size: 14px;
  font-family: "Poppins";
}
.header {
  font-size: 12px;
}

.Heading {
  padding-left: 15px;
  font-size: 20px;
  color: #3247d5;
  font-family: "Poppins";
}

.header {
  background-color: #dee2e6;
  color: #404040;
  font-family: "Poppins";
  font-size: 12px;
  padding: 5px;
}

.button {
  border: none;
  width: 50%;
  border-radius: 5px;
  background-color: #3247d5;
  color: white;
  font-size: 15px;
}
/* .button1{
    border: none;
    width:50%;
    border-radius: 5px;
    background-color: #3247D5;
    color:white;
    font-size: 15px;
} */
.course {
  font-size: 15px;
}

.button1 {
  margin-top: 6px;
}
.button2 {
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: #2f87cc;
  border: none;
  width: 80%;
}
.head {
  font-size: 14px;
  font-family: "Poppins";
}
th {
  background-color: #02cfff;
  color: white;
}

.header {
  font-size: 12px;
}

.Heading {
  padding-left: 15px;
  font-size: 20px;
  color: #3247d5;
  font-family: "Poppins";
}

.header {
  background-color: #dee2e6;
  color: #404040;
  font-family: "DIN Bold";
  font-size: 12px;
  padding: 5px;
}

.NoResultShow {
  color: #0c275a;
  font-size: 19px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  margin-left: 38px;
}

.count {
  text-align: right;
  padding-right: 10px;
}

.FilterClass {
  padding-left: 15px;
}
