<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-10">
                    <p class="Heading">Trainer Dashboard</p>
                </div>
                <div class="col-lg-2">
                    <p class="Text" style="float:right; padding-right:50px;">Count:1</p>
                </div>
            </div>
            <hr class="HrLine">

            <div class="row FilterClass ">
                <div class="col-lg-1">
                    <p class="Text">Filter By</p>
                </div>
                <div class="col-lg-6">
                    <!-- <input type="search" class="form-control" placeholder="Search for Name.." [(ngModel)]="search"
                        name="search"> -->
                        <input type="search" class="form-control" placeholder="Search for Name..">
                </div>
                <div class="col-lg-1"></div>
            </div><br>
            <div class="row">
                <div class="col-lg-9"></div>
                <div class="col-lg-3">
                    <button class=button routerLink="/TrainerForm">Add</button>
                </div>
            </div> <br>


            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- <table class="table" *ngIf="(vendordetails | filter: search).length > 0; else noResults"> -->
                            <table class="table tablebordered">
                            <thead>
                                <tr class="head">
                                    <th>Name</th>
                                    <th>Phone Number</th>
                                    <th>Email Id</th>
                                    <th>Address</th>
                                    <th>Year of Experience</th>
                                    <th>Resume</th>
                                    <th>Skills and Technology</th>
                                    <th>Trainer Fee</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>    
                                <tr class="head" *ngFor="let details of result">
                                    <td>{{details.name}}</td>
                                    <td>{{details.phoneNo}}</td>
                                    <td>{{details.email}}</td>
                                    <td>{{details.address}}</td>
                                    <td>{{details.yearOfExperience}}</td>
                                    <!-- <td><img class="pdfimg" src="../../../assets/Images/pdf.jpg"></td> -->
                                    <td>
                                        <img src="assets/pdf.jpg" *ngIf="details.nopdf=='0'" style="width: 30px;" (click)="OpenPdf(details.resumeUrl)">
                                    </td>
                                    <td>{{details.skillAndTecchnology}}</td>
                                    <td>{{details.trainerFee}}</td>
                                    <td><button class="button1" routerLink="/TrainerForm" [routerLink]="['/TrainerForm', details.id]">Edit</button> <br><br>
                                        <button class="button1" (click)="Ondelete(details.id)" >Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <ng-template #noResults>
                            <p class="NoResultShow"> No results found for "{{search}}" </p>
                        </ng-template> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>