.card1{
    margin: 10px;
    background-color: whitesmoke(83, 84, 85);
    color: black;
}
button{
    padding:5px;
    border-radius: 5px;
    color:white;
    background-color: #030a0f;
    border:none;
    float: right;
    margin-bottom: 10px;
    margin-right: 40px;
}
.close{
    background-color:transparent;
    color: black;
}
.chapter{
   
    text-decoration: none;
    margin: 20px;
}
.image{
    width: 10%;
    height: 20%;
}
.certificate{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}








/* body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 1px 0px 0px 0px;padding: 0px;border: none;width: 1123px;height: 793px;}
#page_1 #id1_1 {border:none;margin: 98px 0px 0px 334px;padding: 0px;border:none;width: 789px;overflow: hidden;}
#page_1 #id1_2 {border:none;margin: 2px 0px 0px 323px;padding: 0px;border:none;width: 800px;overflow: hidden;}
#page_1 #id1_3 {border:none;margin: 382px 0px 0px 200px;padding: 0px;border:none;width: 718px;overflow: hidden;}

#page_1 #p1dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:1123px;height:793px;}
#page_1 #p1dimg1 #p1img1 {width:1123px;height:793px;}




.dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}

.ft0{font: 40px 'Times New Roman';line-height: 85px;}
.ft1{font: 39px 'Times New Roman';color: #a96620;line-height: 43px;}
.ft2{font: 19px 'Times New Roman';line-height: 21px;}
.ft3{font: 30px 'Times New Roman';line-height: 34px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;padding-left: 40px;margin-top: 0px;margin-bottom: 0px;}
.p2{text-align: left;margin-top: 30px;margin-bottom: 0px;}
.p3{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}

.td0{padding: 0px;margin: 0px;width: 542px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 176px;vertical-align: bottom;}

.tr0{height: 35px;}

.t0{width: 718px;font: 30px 'Times New Roman';} */