.card1{
    margin: 10px;
    background-color: whitesmoke(83, 84, 85);
    color: black;
}
button{
    padding:5px;
    border-radius: 5px;
    color:white;
    background-color: #030a0f;
    border:none;
    float: right;
    margin-bottom: 10px;
    margin-right: 40px;
}
.close{
    background-color:transparent;
    color: black;
}
.chapter{
   
    text-decoration: none;
    margin: 20px;
}
.image{
    width: 10%;
    height: 20%;
}
.certificate{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}





span.cls_002{font-family:Arial,serif;font-size:34.0px;color:white;font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:34.0px;color:white;font-weight:normal;font-style:normal;text-decoration: none}
span.cls_004{font-family:"Calibri",serif;font-size:22.0px;color:white;font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:"Calibri",serif;font-size:22.0px;color:white;font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:"Calibri",serif;font-size:51.0px;color:white;font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{font-family:"Calibri",serif;font-size:51.0px;color:white;font-weight:normal;font-style:normal;text-decoration: none}
span.cls_006{font-family:"Calibri",serif;font-size:19.0px;color:white;font-weight:normal;font-style:normal;text-decoration: none}
div.cls_006{font-family:"Calibri",serif;font-size:19.0px;color:white;font-weight:normal;font-style:normal;text-decoration: none}
span.cls_007{font-family:"Calibri",serif;font-size:14.1px;color:white;font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:"Calibri",serif;font-size:14.1px;color:white;font-weight:normal;font-style:normal;text-decoration: none}