<div class="row" style="height: 9vh;font-family:'Poppins';padding-top: 10px; background-color: #3247D5; ">
    <div class="col-lg-12 d-flex justify-content-between">
        <div class="col-lg-2">
            <img src="assets/Images/Logo_digiOffice_White.png" style="height: 52px;margin-top: 3px;">
        </div>
        <div class="col-lg-3" style="display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: start;margin-right: 85px 
px
;">
            <div class="time">
                <p class="time1">{{hh}}</p>
            </div>
            <div class="time">
                <p class="time1">{{mm}}</p>
            </div>
            <div class="time">
                <p class="time1">{{ampm}}</p>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="centerlabel">{{page}}</div>
        </div>
        <div class="col-lg-4" style="display: flex;
        /* align-content: stretch; */
        justify-content: flex-end;">
            <div class="d-flex align-items-center" style="margin-right:10px">
                <a data-toggle="dropdown">
                    <img src="assets/Images/notification.png" style="width: 30px;margin-right: 16px;">
                </a>

                <div class="profile-block">
                    <div class="profile-img mobile-profile-img pointer">
                        <span class="initial ng-star-inserted">K</span>
                        <!-- <span *ngIf="login==2" class="initial ng-star-inserted">M</span>
                    <span *ngIf="login==6" class="initial ng-star-inserted">E</span>
                    <span *ngIf="login==8" class="initial ng-star-inserted">F</span>
                    <span *ngIf="login==9" class="initial ng-star-inserted">H</span> -->
                        <!---->

                    </div>
                    <span class="mdi mdi-chevron-down"></span>
                </div>
                <p class="welcomename">{{UserName}} &nbsp;</p>

                <div>
                    <a data-toggle="dropdown">
                        <i class="fa fa-caret-down" style="color:white;margin-left: 5px;"></i>
                    </a>
                    <ul class="dropdown dropdown-menu" style="width: 250px;margin-top: 1%;">
                        <div class="container-fluid contain">
                            <div class="row">
                                <div class="col-lg-2">
                                    <!-- <br />
                                <i class="fa fa-link link" aria-hidden="true" style="margin-top:10px"></i> -->
                                    <br />
                                    <i class="fa fa-user link" aria-hidden="true"
                                        style="margin-top:5px;color: #3247D5;"></i>
                                    <br />
                                    <!-- <i class="fa fa-cog link" aria-hidden="true"
                                        style="margin-top:5px;color: #3247D5;"></i>
                                    <br /> -->
                                    <i class="fa fa-power-off link" aria-hidden="true"
                                        style="margin-top:5px;color: #3247D5;"></i>
                                </div>
                                <div class="col-lg-10">
                                    <br />
                                    <!-- <h6 class="link1">Quick Links</h6> -->
                                    <h6 class="link1">My Account Settings</h6>
                                    <h6 (click)="logout()" class="link1">Logout</h6>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-12" style="overflow: auto;">
                                </div>
                            </div>

                            <li class="divider"></li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>