<div class="container-fluid" *ngIf="temp=='1'">
    <div class="row">
        <div class="col-lg-1">
            <img src="/assets/Images/89_89_L.png" class="logo" alt="logo">
        </div>

        <div class="col-lg-1">
            <h6 class="menutext" routerLink="/AdminDashboard">Dashboard</h6>
        </div>
        <div class="col-lg-1">
            <h6 class=" dropdown-toggle menutext" type="button" id="dropdownMenu1" data-toggle="dropdown"aria-expanded="false">Set Up</h6>
            <ul class="dropdown-menu">
                <li class="dropdown-item"><a class="menuitem" tabindex="-1" routerLink="/CourseDashboard">Course</a></li>
                <li class="dropdown-item"><a class="menuitem" tabindex="-1"routerLink="/ChapterDashboard">Chapter</a></li>
                <li class="dropdown-item"><a class="menuitem" routerLink="/Trainer">Trainer</a></li>
                <li class="dropdown-item"><a class="menuitem" routerLink="/TrainerCourseMapping">Assign Trainer</a></li>
                <li class="dropdown-item"><a class="menuitem" routerLink="/Employee">Employer</a></li>

            </ul>
        </div>
        <div class="col-lg-1">
            <h6 class="menutext" routerLink="/MyCourseDashboard">My Course</h6>
        </div>
        <div class="col-lg-1">
            <h6 class="menutext" routerLink="/Catalog">Catalog</h6>
       </div>
       <div class="col-lg-1">
        <h6 class="menutext" routerLink="/CourseCertificate">Certificate</h6>
   </div>
          
        <div class="col-lg-5" ></div>
        <div class="col-lg-1" >
            <!-- <img src="assets/Images/notification.png" class="notify" routerLink="/Notification">&nbsp; &nbsp;&nbsp; -->
        <img src="assets/Images/logout.png" class="logout" (click)="logout()">&nbsp;
        </div>
    </div>
    <!-- <div class="col-lg-1"> Welcome {{UserName}} ({{role}})</div> -->
</div>

