<div class="container-fluid">  
    <div class="row">
        <p class="headings">Staff Dashboard</p>
    </div>
    <hr><br>
    <div class="card">
        <br>
      <div class="row" style="color:#0C275A;margin-left: 15px;">
        <div class="col-md-2">
            Filter By
        </div>
        <div class="col-md-2">
            <input class="form-control" type="date" placeholder="Duration" id="date" name="date" [(ngModel)]="date"
                (change)="getdate($event)">
        </div>
        <div class="col-md-6">
            <input class="form-control" type="search" [(ngModel)]="term"
                placeholder="search for Staff , Date of joining or Role">
        </div>
    </div> <br>
</div> <br>
    

    <div class="row">
        <div class="col-md-10">
            <p class="show3res" style="color: #0C275A">SHOWING <span style="color: black;">{{stafflist.length}}</span>&nbsp;RESULTS
            </p>
        </div>
        <div class="col-md-2">
            <button class="form-control requestbtn" routerLink="/EmployeeForm">Add Staff</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table tab" id="lvs">
                <thead>
                    <tr >
                        <!-- <th>Check Box</th> -->
                        <th>Employee Id</th>
                        <th>Employee Name</th>
                        <th>Role</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Date Of Joining</th>
                        <th>Manager</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of stafflist">

                        <td style="color: #0C275A">000{{item.id}}</td>
                        <td style="color: #0C275A">{{item.name}}</td>
                        <td style="color: #0C275A">{{item.role}}</td>
                        <td style="color: #0C275A">{{item.mobile}}</td>
                        <td style="color: #0C275A">{{item.emailID}}</td>
                        <td style="color: #0C275A">{{item.joiningDate|date}}</td>
                        <td>
                            <p *ngIf="item.manager==null">
                                NA
                            </p>
                            <p *ngIf="item.manager!=null" style="color: #0C275A">
                                {{item.manager}}
                            </p>
                        </td>
                        <td> <button class="upload"
                                [routerLink]="['/EmployeeForm',item.id]">Edit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="upload">Delete</button>&nbsp;
                            <!-- <button class="upload" (click)="Ondelete(item.id)" >Delete</button>&nbsp; -->
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<br />
<br />
<br />