<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-10">
                    <p class="Heading">Employee Dashboard</p>
                </div>
                <div class="col-lg-2">
                    <p class="Text" style="float:right; padding-right:50px;">Count:1</p>
                </div>
            </div>
            <hr class="HrLine">
            <div class="row FilterClass ">
                <div class="col-lg-1">
                    <p class="Text">Filter By</p>
                </div>
                <div class="col-lg-6">
                    <!-- <input type="search" class="form-control" placeholder="Search for Name.." [(ngModel)]="search"
                        name="search"> -->
                        <input type="search" class="form-control" placeholder="Search for Name..">
                </div>
                <div class="col-lg-1"></div>
            </div><br>
            <div class="row">
                <div class="col-lg-9"></div>
                <div class="col-lg-3">
                    <button class=button routerLink="/EmployeeForm">Add</button>
                </div>
            </div> <br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- <table class="table" *ngIf="(vendordetails | filter: search).length > 0; else noResults"> -->
                            <table class="table table-bordered">
                            <thead>
                                <tr class="head">
                                    <th>Emp ID</th>
                                    <th>Emp Name</th>
                                    <th>Designation</th>
                                    <th>Phone Number</th>
                                    <th>Email Id</th>
                                    <th>Address</th>
                                    <th>Year of Experience</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="head">
                                    <td>CN-22625</td>
                                    <td>Tim Holand</td>
                                    <td>Sr Developer</td>
                                    <td>+002-778654568</td>
                                    <td>timjay@gmail.com</td>
                                    <td>Ontario, Canada.</td>
                                    <td>5 Years</td>
                                    <td><button class="button1" routerLink="/EmployeeForm">Edit</button> <br> <br>
                                        <button class="button2" >Delete</button>
                                    </td>
                                </tr>
                            </tbody>  
                        </table>
                        <!-- <ng-template #noResults>
                            <p class="NoResultShow"> No results found for "{{search}}" </p>
                        </ng-template> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>