<div class="container-fluid">

    <div class="row">
        <div class="col-lg-2">
            <p class="headings">Course Details </p>
        </div>
        <div class="col-lg-8"></div>
    </div>
    <!-- <hr> -->
    <div class="card">
        <div class="row head">
            <div class="col-lg-2">
                <p>Category</p>
            </div>
            <div class="col-lg-3">
                <p>Course Name</p>
            </div>
            <div class="col-lg-3">
                <p>Description</p>
            </div>
            <div class="col-lg-2">
                <p>Photo</p>
            </div>
            <div class="col-lg-2">
                <p>Duration</p>
            </div>

        </div>
        <div class="row header">
            <div class="col-lg-2">
                <!-- name="categoryName" [(ngModel)]="categoryName"  -->
                <select class="form-control" (change)="GetCategoryid($event)">
                    <option value="0">Select Category</option>
                    <option *ngFor="let details of result" value="{{details.name}},{{details.id}}">{{details.name}}</option>
                </select>
            </div>
            <div class="col-lg-3">
                <input class="form-control" placeholder="Name" [(ngModel)]="name">
            </div>
            <div class="col-lg-3">
                <textarea class="form-control" placeholder="Description" rows="5" [(ngModel)]="description"></textarea>
            </div>
            <div class="col-lg-2">
                <ngx-dropzone (change)="onSelect($event)" style="width:100% ;height: auto; text-align: center;">
                    <ngx-dropzone-label>Please Attach Photo!</ngx-dropzone-label>
                    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                </ngx-dropzone>
            </div>
            <div class="col-lg-2">
                <input class="form-control" placeholder="Name" [(ngModel)]="duration">
            </div>

        </div> <br>

        <div class="row">
            <div class="col-lg-2">
                <p>Fees</p>
            </div>
            <div class="col-lg-4">
                <p>Entry Criteria</p>
            </div>
            <div class="col-lg-4">
                <p>Exit Criteria</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <input class="form-control" placeholder="0" [(ngModel)]="fee">
            </div>
            <div class="col-lg-4">
                <textarea class="form-control" placeholder="Entry Criteria" rows="5"
                    [(ngModel)]="entryCriteria"></textarea>

            </div>
            <div class="col-lg-4">
                <textarea class="form-control" placeholder="Exit Criteria" rows="5"
                    [(ngModel)]="exitCriteria"></textarea>
            </div>
        </div><br>
        <div class="row">
            <div class="col-lg-9"></div>
            <div class="col-lg-1">
                <!-- <button class="form-control button1">Save</button> -->
                <button class="form-control cancel" *ngIf="id==null || id==undefined" (click)="Save()">Save</button>
                <button class="form-control cancel" *ngIf="id!=null || id!=undefined"
                    (click)="Update()">Update</button>
            </div>
            <div class="col-lg-1">
                <button class="form-control  cancel " (click)="cancel()">Cancel</button>
            </div>
        </div>

    </div>