.card{
    background-color: white;
    padding:15px;
}
.button
{
    border: none;
    width:80%;
    height:auto;
    border-radius: 5px;
    background-color: #2f87cc;
    color:white;
    font-size: 15px;
}
.course{
    font-size: 15px;
}