<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-2">
                    <p class="course">Assessment Details </p>
                </div>
                <div class="col-lg-8"></div>
                <!-- <div class="col-lg-2">
                    <button class="button ">ADD</button>
                </div> -->
            </div>
            <hr>
            <div class="card">
                <div class="row head">
                    <div class="col-lg-2">
                        <p>Course Name</p>
                    </div>
                    <div class="col-lg-2">
                        <p>Chapter Name</p>
                    </div>
                    <div class="col-lg-2">
                        <p>Question Type</p>
                    </div>
                    <div class="col-lg-3">
                        <p>Question</p>
                    </div>
                    <div class="col-lg-3">
                        <p>Correct Answer</p>
                    </div>

                </div>
                <div class="row header">
                    <div class="col-lg-2">
                        <select class="form-control" name="cars" id="Duration">
                            <option value="Select">Select</option>
                            <option value="">Compliance</option>
                            <option value=""> Marketing</option>
                            <option value="">Communication Skills</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <select class="form-control" name="cars" id="Duration">
                            <option value="Select">Select</option>
                            <option value="">Compliance</option>
                            <option value=""> Marketing</option>
                            <option value="">Communication Skills</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <select class="form-control" name="cars" id="Duration"  [(ngModel)]="id">
                            <option *ngFor="let details of result" value="{{details.id}}">{{details.Type}}</option>

                            <!-- <option value="">Objective</option>
                            <option value=""> Subjective</option> -->
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <textarea class="form-control" placeholder="Question.."></textarea>
                    </div>
                    <div class="col-lg-3">
                       <textarea class="form-control" placeholder="Correct Answer.."></textarea>
                    </div>

                </div> <br>

                <div class="row">
                    <div class="col-lg-2">
                        <p>Option1</p>
                    </div>
                    <div class="col-lg-2">
                        <p>Option2</p>
                    </div>
                    <div class="col-lg-2">
                        <p>Option3</p>
                    </div>
                    <div class="col-lg-2">
                        <p>Option4</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <input class="form-control" placeholder="a">
                    </div>
                    <div class="col-lg-2">
                        <input class="form-control" placeholder="b">

                    </div>
                    <div class="col-lg-2">
                        <input class="form-control" placeholder="c">
                    </div>
                    <div class="col-lg-2">
                        <input class="form-control" placeholder="d">
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-10"></div>
                    <div class="col-lg-1">
                        <button class="form-control " (click)="cancel()">Cancel</button>
                    </div>
                    <div class="col-lg-1">
                        <button class="form-control button1">Save</button>
                        <!-- <button class="form-control button1"  *ngIf="id==null || id==undefined" (click)="Save()">Save</button>    
                     <button class="form-control button1"  *ngIf="id!=null || id!=undefined" (click)="Update()">Update</button>    -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>