/* .card {
  background-color: white;
}

 .card{
  padding: 20px;
   width:100%;
   background: #FFFFFF;
   box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.12);
   border-radius: 12px;
}
  
  .card-padding{
    padding:1%;
  }
  .table{
  border-radius: 5px;
}

.FilterClass {
  padding-left: 15px;
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.table td {
  color: #494949;
  font-size: 12px;
  vertical-align: middle;
  background-color: white;
}

.HrLine {
  margin-left: 15px;
  margin-right: 15px;
}
.Heading {
  font-size: 20px;
  font-weight: bold;
}
.count {
  font-size: 15px;
  float: right;
  margin-right: 10px;
}

/* .table, th, td {
    border: 1px solid lightgray;
     border-collapse: collapse; 
   
  } */

.Save {
  padding: 7px;
  border-radius: 5px;
  border: none;
  background-color: #21a4da;
  color: white;
  width: 100%;
  font-size: 16px;
}

.leavereq {
  padding-left: 15px;
  padding-top: 10px;
}

.button1 {
  border-radius: 5px;
  border: none;
  background-color: #3247d5;
  color: white;
  width: 100%;
  font-size: 16px;
}

.card {
  width: 100%;
  background: #ffffff;
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}
