<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-10">
                    <p class="Heading">Trainer and Course Mapping </p>
                </div>
            </div>
            <div class="card">
                <div class="row leavereq">

                    <div class="col-lg-2">
                        <p class="newFont">Trainer Name <span style="color: red;">*</span></p>
                    </div>
                    <div class="col-lg-2">
                        <p class="newFont">Course Name <span style="color: red;">*</span></p>
                    </div>
                    <div class="col-lg-2">
                        <p class="newFont">Email ID <span style="color: red;">*</span></p>
                    </div>
                    <div class="col-lg-2">
                        <p class="newFont">Start Date <span style="color: red;">*</span> </p>
                    </div>
                    <div class="col-lg-2">
                        <p class="newFont">End Date<span style="color: red;">*</span> </p>
                    </div>
                </div>
                <div class="row leavereq">
                    <div class="col-md-2">
                        <input class="form-control inputfield" placeholder="Trainer Name">
                    </div>
                    <div class="col-md-2">
                        <input class="form-control inputfield" placeholder="Course Name">
                    </div>
                    <div class="col-md-2">
                        <input class="form-control inputfield" placeholder="Email ID">
                    </div>
                    <div class="col-md-2">
                        <input type="date" class="form-control inputfield" placeholder="Start Date">
                    </div>
                    <div class="col-md-2">
                        <input type="date" class="form-control inputfield" placeholder="End Date">
                    </div>
                </div>
                <div class="row leavereq">

                    <div class="col-lg-2">
                        <p class="newFont">Batch Name<span style="color: red;">*</span></p>
                    </div>
                    <div class="col-lg-4">
                        <p class="newFont">Number of Students Enrolled<span style="color: red;">*</span></p>
                    </div>
                </div>
                <div class="row leavereq">
                    <div class="col-md-2">
                        <input class="form-control inputfield" placeholder="Batch Name">
                    </div>
                    <div class="col-md-2">
                        <input class="form-control inputfield" placeholder="No of Students Enrolled">
                    </div>
                </div>
                <br> 
                <div class="row">
                    <div class="col-lg-9"></div>
                    <div class="col-lg-1">
                        <button class="form-control " (click)="cancel()">Cancel</button>
                    </div>
                    <div class="col-lg-1">
                        <button class="form-control button1">Save</button>
                        <!-- <button class="form-control button1"  *ngIf="id==null || id==undefined" (click)="Save()">Save</button>    
                     <button class="form-control button1"  *ngIf="id!=null || id!=undefined" (click)="Update()">Update</button>    -->
                    </div>

                    <div class="col-lg-1"></div>
                </div><br>
            </div> <br>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>