<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-10">
                    <p class="Heading">Trainer and Course Mapping </p>
                </div>
            </div>
            <div class="card">
                <div class="row leavereq">

                    <div class="col-lg-2">
                        <p class="newFont">Trainer Name <span style="color: red;">*</span></p>
                    </div>
                    <div class="col-lg-2">
                        <p class="newFont">Course Name <span style="color: red;">*</span></p>
                    </div>
                    <div class="col-lg-3">
                        <p class="newFont">Email ID <span style="color: red;">*</span></p>
                    </div>
                    <div class="col-lg-2">
                        <p class="newFont">Start Date <span style="color: red;">*</span> </p>
                    </div>
                    <div class="col-lg-2">
                        <p class="newFont">End Date<span style="color: red;">*</span> </p>
                    </div>
                </div>
                <div class="row leavereq">
                    <div class="col-md-2">
                        <select class="form-control" name="id" id="id">
                            <option *ngFor="let details of trainerlist" value="{{details.id}}">{{details.name}}</option>
                        </select>

                        <!-- <select class="form-control" name="categoryName" id="categoryName" [(ngModel)]="categoryName"> 
                            <option  *ngFor="let details of result" value="{{details.name}}">{{details.name}}</option>
                        </select> -->
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" name="id" id="id">
                            <option *ngFor="let details of CourseList" value="{{details.id}}">{{details.name}}</option>
                            <!-- <option value="">Compliance</option>
                            <option value=""> Marketing</option>
                            <option value="">Communication Skills</option> -->
                        </select>
                    </div>
                    <div class="col-md-3">
                        <!-- <input class="form-control inputfield" placeholder="Email ID" [(ngModel)]="EmailID"> -->
                    </div>
                    <div class="col-md-2">
                        <!-- <input type="date" class="form-control inputfield" placeholder="Start Date" [(ngModel)]="StartDate"> -->
                    </div>
                    <div class="col-md-2">
                        <!-- <input type="date" class="form-control inputfield" placeholder="End Date" [(ngModel)]="EndDate"> -->
                    </div>
                </div><br>
                <div class="row leavereq">

                    <div class="col-lg-4">
                        <p class="newFont">Batch Name<span style="color: red;">*</span></p>
                    </div>
                    <div class="col-lg-4">
                        <p class="newFont">Allowed Students per Batch<span style="color: red;">*</span></p>
                    </div>
                </div>
                <div class="row leavereq">
                    <div class="col-md-4">
                        <!-- <input class="form-control inputfield" placeholder="Batch Name" [(ngModel)]="BatchName"> -->
                    </div>
                    <div class="col-md-3">
                        <!-- <input class="form-control inputfield" placeholder="Allowed Students per Batch" [(ngModel)]="AllowedStudents"> -->
                    </div>
                </div>
                <br> 
                <div class="row">
                    <div class="col-lg-9"></div>
                    <div class="col-lg-1">
                        <button class="form-control " (click)="cancel()">Cancel</button>
                    </div>
                    <div class="col-lg-1">
                        <button class="form-control button1">Save</button>
                        <!-- <button class="form-control button1"  *ngIf="id==null || id==undefined" (click)="Save()">Save</button>    
                     <button class="form-control button1"  *ngIf="id!=null || id!=undefined" (click)="Update()">Update</button>    -->
                    </div>

                    <div class="col-lg-1"></div>
                </div><br>
            </div> <br>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>