<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-12">
                    <p style="font-size: 19px; padding-top: 20px;
                    color: #3247D5; font-weight: bold;"><u>{{coursename}}</u></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6" *ngIf="show==1">
                    <img src="{{chapterphoto}}" alt="1st Course Assessment"
                        style="width:400px; height:200px; padding-right:20px;">
                </div>
                <div class="col-lg-6" style="border-radius: 20px;">
                    <div class="row">
                        <p style="color:#0C275A;font-size: 13px;"><b>Course Materials</b></p>
                    </div>
                    <div class="row">
                        <div class="col-lg-1" *ngFor="let details of Attachmentlist">
                            <img class="icon" *ngIf="details.attachmentType=='video'" src="assets/Images/Video_lcon.png"
                                alt="video_icon" (click)="PreviewVideo(details.photo)">

                            <img class="icon" *ngIf="details.attachmentType=='Pdf'" src="assets/pdf.jpg"
                                alt="video_icon" (click)="PreviewPdf(details.photo)">

                            <img class="icon" *ngIf="details.attachmentType=='Image'" src="assets/Images/image.png"
                                alt="video_icon" (click)="PreviewIMG(details.photo)">

                            <img class="icon" *ngIf="details.attachmentType=='Ppt'" src="assets/Images/files.png"
                                alt="video_icon" (click)="PreviewPPT(details.photo)">

                            <img class="icon" *ngIf="details.attachmentType=='Document'" src="assets/Images/word.png"
                                alt="video_icon" (click)="PreviewMSword(details.photo)">

                        </div>
                    </div>
                </div>

                <div class="col-lg-12" *ngIf="show==2">
                    <video controls style="height: 80%; width: 100%;">
                        <source src="{{Attachmentlist[0].photo}}" type="video/mp4">
                        <source src="{{Attachmentlist[0].photo}}" type="video/ogg">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="col-lg-5" *ngIf="show==4">
                    <img src="{{Attachmentlist[0].photo}}" alt="1st Course Assessment"
                        style="width:400px; height:200px; margin-left:20px;">
                </div>
                <div class="col-lg-12" *ngIf="show==5" style="width: 70%; height: 80%;margin-left: 175px;"><br><br>
                    <h5>{{noattachments}}</h5> <br><br>
                </div>
            </div><br>
            <hr>
            <div class="card" *ngIf="showcard=='1'">
                <div class="row" style="margin-left: 15px; overflow-y: scroll; height: 400px;">
                    <div class="col-lg-12">
                        <h3 style="color: #0C275A; font-family: Poppins;font-style: normal;
            font-weight: 600; font-size: 20px;">{{chaptername}}</h3>
                        <p style="color: #0C275A; font-family: Poppins;font-style: normal;
            font-weight: normal;font-size: 16px;line-height: 17px;" [innerHTML]="chapterdescription"></p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row" style="margin-left: 15px;" *ngFor="let details of chapterdetails">
                <div class="col-lg-8">
                </div>
                <div class="col-lg-4" style="text-align: center;">
                </div>
            </div><br><br>
        </div>



        <div class="col-lg-3">
            <div class="row vertical-menu VScroll">
                <div class="col-lg-12">
                    <br>
                    <div class="row">
                        <div class="col-lg-8">
                            <h2 style="color: #3247D5; font-weight: 600; font-size: 19px;">CHAPTERS </h2>
                        </div>
                        <div class="col-lg-4">
                            <img src="assets/Images/back-arrow.png" style="width:25%; float: right; cursor: pointer;"
                                alt="BackIMG" routerLink="/MyCourseDashboard">
                        </div>
                    </div>
                    <hr class="HRline">
                    <div *ngFor="let details of coursedetails">
                        <h5 (click)="getcoursedetails(details)" style="color: #0C275A;font-size: 13px;">
                            <input type="radio" (click)="clickcard()" id="details.id" name="details.id">
                            {{details.name}}
                        </h5>
                        <p style="display: inline;">
                            <label style="    font-family: 'Poppins';
                            margin-left: 214px;
                            color: blue;"
                                *ngIf="details.obtainedMarks!=null">{{details.obtainedMarks/details.totalmarks
                                *100 | number : '1.2-2'}} %</label>
                            <button class="btn btn-sm btn-primary newbutton" *ngIf="details.teststatus=='nottaken'"
                                [routerLink]="['/TakeAssessment',details.courseID,details.id]" id="id" name="id"> Take
                                Assessment</button>
                            <button class="btn btn-sm btn-danger newbutton1" *ngIf="details.teststatus=='Failed'"
                                [routerLink]="['/TakeAssessment',details.courseID,details.id]" id="id"
                                name="id">&#10006;
                                Retake
                                Assessment</button>
                            <button class="btn btn-sm btn-success newbutton" *ngIf="details.teststatus=='Passed'"
                                id="id" name="id">&#10003;Assessment Passed
                            </button>
                            <hr>
                    </div> <br>
                    <!-- <div class="row">
                        <div class="col-lg-12" *ngFor="let details of chapterlist">
                            <p class="chapter">Completed Chapters</p>
                            <progress id="file" value="0" max="100" style="width:100%;height:15px;">0%</progress>
                               <p> 
                                   {{details./details.totalmarks
                                    *100 | number : '1.2-2'}} %
                               </p> 
                             
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
       
       


    </div>
</div>