<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10">
            <p class="headings">Center Dashboard</p>
        </div>
        <div class="col-lg-2">
            <p class="count">Count: {{count}}</p>
        </div>
    </div>
  
    <div class="card">
        <br>
    <div class="row FilterClass ">
        <div class="col-lg-1">
            <p class="filter">Filter By </p>
        </div>
        <!-- <div class="col-lg-3">
            <select  class="form-control "  id="Duration" >
                <option class="FilterClass"  value="0">Select Category</option>
                <option class="FilterClass"></option>
            </select> -->
            <!-- <select  class="form-control "  id="Duration" (change)="getcategoryid($event)" >
                <option class="FilterClass"  value="0">Select Category</option>
                <option class="FilterClass" *ngFor="let cat  of categorylist" value="{{cat.id}}">{{cat.name}}</option>
            </select> -->
        <!-- </div> -->
        <div class="col-lg-5">
                <input type="search" class="form-control search" placeholder="Search for Center" >
        </div>
    </div><br>
</div> <br>
    <div class="row">
        <div class="col-lg-9"></div>
        <div class="col-lg-3">
            <button class="addnew" routerLink="/CenterForm">Add</button>
        </div>
    </div> <br>



    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                    <table class="table" >
                    <thead>
                        <tr>
                            <!-- <th>Category Name</th> -->
                            <th>Center Name</th>
                            <th>Contact Person</th>
                            <th>Phone No.</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Country</th>
                            <th>State</th>
                            <th>City</th>
                            <th>Pincode</th>
                        </tr>
                        <tr>
                            <td>Bel</td>
                            <td>Divya</td>
                            <td>9876543210</td>
                            <td>divya@gmail.com</td>
                            <td>yeshwanthpur</td>
                            <td>India</td>
                            <td>Karnataka</td>
                            <td>Yeshwanthpur</td>
                            <td>560022</td>
                        </tr>
                    </thead>
                </table>
                <ng-template #noResults>
                    <p class="NoResultShow"> No results found for  </p>
                </ng-template>
            </div>
        </div>
    </div>

</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-8" >
                <br>
                <img style="width:100%;height:auto;">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
    </div>
</div>
</div>
</div>


<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="font-size: 19px;color:#3247D5">Description</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12" style="color:#0C275A ;font-size: 13px;">
                <p></p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-lg-9"></div>
        <!-- <div class="col-lg-3">
            <button type="button" class="btn btn-secondary button" data-dismiss="modal">Close</button>
        </div> -->

    </div>
</div>
</div>
</div>