<div class="container-fluid" style="background-color: #f2f2f2;">
    <!-- <div *ngIf="temp=='1'"> <app-AppComponent></app-AppComponent></div> -->
   
    <div class="row" style="margin-left: 10px;">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-3">
                    <div class="card1" style="background-color: white; height: 325px;width: 275px;"
                        (click)="flip1($event)">
                        <div class="back">
                            <br>
                            <div class="row">
                                <div class="col-lg-2">
                                    <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 43px;color:maroon; margin-top: 5px;
                                        margin-left: 5px;"></i>
                                </div>
                                <div class="col-lg-1"></div>
                                <div class="col-lg-7">
                                    <label class="name">Course Title<br>
                                        <div class="din-Medium1">Description</div>
                                        <div class="din-Medium1">Photo</div>
                                    </label>
                                </div>
                            </div>
                            <hr class="new4">
                            <div class="backflip">
                                <button class="bcakbtn">BACK</button>

                                <button class="viewall" routerLink="/MyCourseDashboard">VIEW ALL</button>
                                <!-- <a href="#/VendorJobOpenings"><button class="viewall">VIEW ALL</button></a> -->
                                <!-- <button class="viewall" (click)="Regularization()" routerLink="/JobRecruitements/">VIEW ALL</button> -->
                            </div>
                        </div>
                        <div class="front">
                            <br>
                            <div class="row title_outer1">
                                <div class="col-lg-1">
                                </div>
                                <div class="col-lg-1">
                                    <i class="fa fa-calendar calend" aria-hidden="true"></i>
                                </div>
                                <div class="col-lg-9">
                                    <h1 class="cardlabel" style="color: #555;font-size: 25px;margin-top: 0px;">Courses
                                    </h1>
                                </div>
                            </div><br><br>
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4" style="text-align: center;">
                                    <h6 class="Number">{{countlist.courseCount}}</h6>
                                </div>
                                <div class="col-lg-4"></div>
                            </div><br><br><br><br>
                            <button class="clickbutton1">VIEW DETAILS</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card1" style="background-color: white; height: 325px;width: 275px;"
                        (click)="flip1($event)">
                        <div class="back">
                            <br>
                            <div class="row">
                                <div class="col-lg-2">
                                    <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 43px;color:maroon; margin-top: 5px;
                                        margin-left: 5px;"></i>
                                </div>
                                <div class="col-lg-1"></div>
                                <div class="col-lg-7">
                                    <label class="name">Chapters<br>
                                        <div class="din-Medium1">Description</div>
                                        <div class="din-Medium1">Photo</div>
                                    </label>
                                </div>
                            </div>
                            <hr class="new4">
                            <div class="backflip">
                                <button class="bcakbtn">BACK</button>


                                <a href="#/VendorJobOpenings"><button class="viewall">VIEW ALL</button></a>
                                <!-- <button class="viewall" (click)="Regularization()" routerLink="/JobRecruitements/">VIEW ALL</button> -->
                            </div>
                        </div>
                        <div class="front">
                            <br>
                            <div class="row title_outer1">
                                <div class="col-lg-1">
                                </div>
                                <div class="col-lg-1">
                                    <i class="fa fa-calendar calend" aria-hidden="true"></i>
                                </div>
                                <div class="col-lg-9">
                                    <h1 class="cardlabel" style="color: #555;font-size: 25px;margin-top: 0px;">Chapters
                                    </h1>
                                </div>
                            </div><br><br>
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4" style="text-align: center;">
                                    <h6 class="Number">{{countlist.chapterCount}}</h6>
                                </div>
                                <div class="col-lg-4"></div>
                            </div><br><br><br><br>
                            <button class="clickbutton1">VIEW DETAILS</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card1" style="background-color: white; height: 325px;width: 275px;"
                        (click)="flip1($event)">
                        <div class="back">
                            <br>
                            <div class="row">
                                <div class="col-lg-2">
                                    <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 43px;color:maroon; margin-top: 5px;
                                        margin-left: 5px;"></i>
                                </div>
                                <div class="col-lg-1"></div>
                                <div class="col-lg-7">
                                    <label class="name">Assessments Title<br>
                                        <div class="din-Medium1">Description</div>
                                        <div class="din-Medium1">Photo</div>
                                    </label>
                                </div>
                            </div>
                            <hr class="new4">
                            <div class="backflip">
                                <button class="bcakbtn">BACK</button>


                                <button class="viewall">VIEW ALL</button>
                                <!-- <button class="viewall" (click)="Regularization()" routerLink="/JobRecruitements/">VIEW ALL</button> -->
                            </div>
                        </div>
                        <div class="front">
                            <br>
                            <div class="row title_outer1">
                                <div class="col-lg-1">
                                </div>
                                <div class="col-lg-1">
                                    <i class="fa fa-calendar calend" aria-hidden="true"></i>
                                </div>
                                <div class="col-lg-9">
                                    <h1 class="cardlabel" style="color: #555;font-size: 25px;margin-top: 0px;">
                                        Assessments</h1>
                                </div>
                            </div><br><br>
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4" style="text-align: center;">
                                    <h6 class="Number">{{countlist.assessmentsCount}}</h6>
                                </div>
                                <div class="col-lg-4"></div>
                            </div><br><br><br><br>
                            <button class="clickbutton1">VIEW DETAILS</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card1" style="background-color: white; height: 325px;width: 275px;"
                        (click)="flip1($event)">
                        <div class="back">
                            <br>
                            <div class="row">
                                <div class="col-lg-2">
                                    <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 43px;color:maroon; margin-top: 5px;
                                        margin-left: 5px;"></i>
                                </div>
                                <div class="col-lg-1"></div>
                                <div class="col-lg-7">
                                    <label class="name">Enrollments Title<br>
                                        <div class="din-Medium1">Description</div>
                                        <div class="din-Medium1">Photo</div>
                                    </label>
                                </div>
                            </div>
                            <hr class="new4">
                            <div class="backflip">
                                <button class="bcakbtn">BACK</button>


                                <a href="#/VendorJobOpenings"><button class="viewall">VIEW ALL</button></a>
                                <!-- <button class="viewall" (click)="Regularization()" routerLink="/JobRecruitements/">VIEW ALL</button> -->
                            </div>
                        </div>
                        <div class="front">
                            <br>
                            <div class="row title_outer1">
                                <div class="col-lg-1">
                                </div>
                                <div class="col-lg-1">
                                    <i class="fa fa-calendar calend" aria-hidden="true"></i>
                                </div>
                                <div class="col-lg-9">
                                    <h1 class="cardlabel" style="color: #555;font-size: 25px;margin-top: 0px;">
                                        Enrollments</h1>
                                </div>
                            </div><br><br>
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4" style="text-align: center;">
                                    <h6 class="Number">{{countlist.enrollCount}}</h6>
                                </div>
                                <div class="col-lg-4"></div>
                            </div><br><br><br><br>
                            <button class="clickbutton1">VIEW DETAILS</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div><br><br><br>

    <div class="row" style="margin-left: 10px;">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-3">
                    <div class="card1" style="background-color: white; height: 325px;width: 275px;"
                        (click)="flip1($event)">
                        <div class="back">
                            <br>
                            <div class="row">
                                <div class="col-lg-2">
                                    <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 43px;color:maroon; margin-top: 5px;
                                        margin-left: 5px;"></i>
                                </div>
                                <div class="col-lg-1"></div>
                                <div class="col-lg-7">
                                    <label class="name">Trainers<br>
                                        <div class="din-Medium1">Description</div>
                                        <div class="din-Medium1">Photo</div>
                                    </label>
                                </div>
                            </div>
                            <hr class="new4">
                            <div class="backflip">
                                <button class="bcakbtn">BACK</button>


                                <a href="#/VendorJobOpenings"><button class="viewall">VIEW ALL</button></a>
                                <!-- <button class="viewall" (click)="Regularization()" routerLink="/JobRecruitements/">VIEW ALL</button> -->
                            </div>
                        </div>
                        <div class="front">
                            <br>
                            <div class="row title_outer1">
                                <div class="col-lg-1">
                                </div>
                                <div class="col-lg-1">
                                    <i class="fa fa-calendar calend" aria-hidden="true"></i>
                                </div>
                                <div class="col-lg-9">
                                    <h1 class="cardlabel" style="color: #555;font-size: 25px;margin-top: 0px;">Trainers
                                    </h1>
                                </div>
                            </div><br><br>
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4" style="text-align: center;">
                                    <h6 class="Number">{{countlist.trainersCount}}</h6>
                                </div>
                                <div class="col-lg-4"></div>
                            </div><br><br><br><br>
                            <button class="clickbutton1">VIEW DETAILS</button>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div><br><br><br>
</div>