/* .Dashboard{
    text-align: Center;
    background-color: #21a4da;
    width:100%;
    height:auto;
    padding:5px;
    color:white;
    font-size: 24px;
}

.text{
    text-align: left;
    color:gray;
    font-size: 20px;
    font-weight: bold;
   padding-top: 8px;
   padding-left: 3px;
}
.Number{
    text-align: center;
    padding-top: 17px;
    color:gray;
    font-size: 25px;
    font-weight: bold;
} */



.Number{
    text-align: center;
    padding-top: 22px;
    color: gray;
    font-size: 60px;
    font-weight: bold;
}




body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  div {
    width: 100%;
  
  }
  
  .container {
    margin: 20px;
    width: 500px;
    height: auto;
    perspective: 1000px;
  }
  
  .card {
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;
    width: 275px;
    height: 325px;
    overflow-y: scroll;
  }
  
  .attendance-day {
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .card1 {
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;
   
  }
  
  .backflip {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -6px;
  }
  
  .backflip1 {
    display: flex;
    justify-content: space-between;
  }
  
  .bcakbtn {
    width: 80px;
    height: 33px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    background-color: #939598;
    font-weight: white;
    color: white;
  }
  
  .viewall {
    width: 80px;
    height: 33px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    background-color: #4282be;
    font-weight: white;
    color: white;
    cursor: pointer;

  }
  
  
  .front, .back {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
  }
  
  
  .front1, .back1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
  }
  
  .clickbutton {
    border: 1px solid;
    background-color: white;
    font-size: 12px;
    border-radius: 6px;
    padding: 4px;
    width: 150px;
  }
  
  .clickbutton1 {
    border: 2px solid;
    background-color: white;
    font-size: 13px;
    border-radius: 6px;
    padding: 4px;
    width: 150px;
    margin-top: -10px;
    color: #555;
    border-color: #555;
  }
  
  .backtext {
    margin-bottom: 11.5rem;
  }
  
  .completetext {
    color: #2F87CC;
    font-size: 14px;
  }
  
  .back {
    transform: rotateY(180deg);
  
  }
  
  td {
    text-align: center;
    border-right: solid 1px #b5b4b4;
    border-left: solid 1px #b5b4b4;
    border-bottom: solid 1px #b5b4b4;
    border-top: solid 1px #b5b4b4;
    height: 10px;
  }
  
  .tdred {
    color: red;
  }
  
  .text-center {
    text-align: center;
  }
  
  .vertical-middle, .vertical-middle .table-cell {
    vertical-align: middle;
  }
  
  .fixed-layout {
    table-layout: fixed;
  }
  
  .table-layout {
    display: table;
    width: 100%;
    height: 13%;
    border-collapse: collapse;
    margin: 3px;
  
  }
  
  .count-size {
    font-size: 14px;
    clear: both;
    font-family: 'DIN Medium';
    color: #555;
    line-height: 20px;
  }
  
  .din-regular {
    font-family: 'DIN Regular';
    font-size: 14px;
  }
  
  .din-Bold {
    font-family: 'DIN Bold';
    font-size: 14px;
  }


  .title_outer {
    float: left;
    max-width: 78%;
    padding: 3px 0;
  }
  
  .title_outer1 {
    float: left;
    max-width: 98%;
    padding: 3px 0;
  }
  
  .card_title {
    font-size: 18px;
    color: #555;
    line-height: 22px;
    margin: 0;
  }
  
  .sub-title-small {
    font-weight: lighter;
    font-size: 12px;
    display: block;
    clear: both;
    margin: 5px 0;
  }
  
  .backbtn {
  
    color: #777 !important;
    font-size: 12px;
    font-family: 'DIN Regular';
    line-height: 14px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 20px;
    right: 20px;
    border-radius: 10px;
    height: 30px;
    width: 80px;
  }
  
  .Hiliday_list li {
    display: table-row;
  }
  
  .Hiliday_list li:first-child .holidayName_cell {
    border-top: none;
  }
  
  .Hiliday_list li .holiday_cell {
    border-top: black;
    vertical-align: middle;
  }
  
  .Hiliday_list li .holiday_cell .holiday-icon-sheet, .Hiliday_list li .holiday_cell .holidayName {
    vertical-align: middle;
  }
  
  .holiday-icon-sheet {
    width: 35px;
    height: 35px;
    display: inline-block;
  
  }
  
  li {
    margin-left: 40px;
    float: inline-end;
    display: block;
    margin-top: 10px;
    font-size: 14px;
    width: 80%;
    border-bottom: 1px solid rgba(0, 0, 0, .7);
  
  }
  
  .holidayflow {
  
    flex-flow: column-reverse;
    height: 235px;
    overflow-y: scroll;
  }
  
  .cardlabel {
    font-family: 'DIN Bold';
    font-size: 20px;
    margin-top: -1px;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2F87CC;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .holidayName {
    color: #777;
    font-size: 16px;
    font-family: 'DIN Medium';
    display: inline-block;
    width: 83%;
    margin-left: 10px;
  }
  
  .holiday-date-day-name {
    color: #777;
    font-size: 12px;
    font-family: 'DIN Regular';
    display: block;
    clear: both;
    line-height: 20px;
    margin-left: 40px;
    margin-top: -14px;
  }
  
  .count-size {
    font-size: 20px;
    clear: both;
    font-family: 'DIN Medium';
    color: #555;
    line-height: 20px;
  }
  
  .din-regular1 {
    font-family: 'DIN Regular';
    font-size: 14px;
  }
  
  .leavetble {
    border-right-style: hidden;
    width: 272px;
    border-left-style: hidden;
    margin-top: 10px
  }
  
  .leavetble1{
    border-right-style: hidden;
      width: 272px;
      border-left-style: hidden;
      margin-top: -10px;
      height: 56px;
  }
  
  .count-size {
    font-size: 20px;
    clear: both;
    font-family: 'DIN Medium';
    color: #555;
    line-height: 20px;
  }
  
  .name{
    font-family: 'DIN Medium';
    font-size: 13px;
    margin-top: 3px;
    margin-left: -5px;
  
  }

  .name1{
    font-family: 'DIN Medium';
    font-size: 13px;
    margin-top: 3px;
  
}

.upload{
  margin-left: -19px;
  border-radius: 6px;
  height: 28px;
  background-color: #36acdd;
  color:white
}

.calend{
    font-size:30px;
    color: #2F87CC;
    margin-left:-20px;
}

.din-Medium {
    font-family: 'DIN Medium';
    font-size: 13px;
    margin-top: -3px;
}

.din-Medium1{
    font-family: 'DIN Medium';
    font-size: 11px;
    margin-top: -3px;

} 

hr.new4 {
    border: 1px solid whitesmoke;
    width:230px;
    margin-top:3px;
  }

  
.anniversary{
  transform: rotate(90deg);
    margin-top: 10px;
    background-color: #36acdd;
    color: white;
    border-top-left-radius: 12px;
}

.newjoinee{
  transform: rotate(90deg);
        width: 149px;
        margin-top: 20px;
        margin-left: -30px;
        background-color: #36acdd;
        color: white;
        border-top-right-radius: 14px;
}

.wish{
 color: #555;
  font-size: 20px;
  margin-top: -40px;
  margin-left: -30px;
}

.wishdate{
  margin-top: -19px;
    margin-left: -21px;
}


.din-regular23{
 
    font-family: 'DIN Medium';
    font-size: 11px;
    padding: 5px;

}