.card{
    background-color: white;
    padding:15px;
}
.button
{
    border: none;
    width:80%;
    height:auto;
    border-radius: 5px;
    background-color: #2f87cc;
    color:white;
    font-size: 15px;
}
.course{
    font-size: 15px;
}
  
    .Save{
        padding:7px;
        border-radius: 5px;
        border:none;
        background-color: #2f87cc;
        color:white; 
        width:100%;
        font-size: 16px;
      }

.button1{   
    border-radius: 5px;
    border:black;
    color:black; 
    background-color: white;
    width:100%;
    font-size: 16px;
    }
 

