<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-2">
                    <p class="course">Chapter Details </p>
                </div>
            </div>
            <hr>
            <div class="card">
                <div class="row">
                    <div class="col-lg-2">
                        <p>Course Name <span style="color: red;">*</span></p>
                    </div>
                    <div class="col-lg-2">
                        <p>Chapter Name  <span style="color: red;">*</span></p>
                    </div>
                    <div class="col-lg-3">
                        <p>Description <span style="color: red;">*</span></p>
                    </div>
                    <div class="col-lg-2">
                        <p>Chapter Photo</p>
                    </div>
                    <div class="col-lg-3">
                        <p>Attachment</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <!-- <input class="form-control" placeholder="Course Nmae"> -->
                        <select class="form-control" name="cars" id="Duration" [(ngModel)]="courseID" (change)="getCourseID($event)">
                            <option value="Select">Course Name</option>
                            <option  *ngFor="let details of result"  value="{{details.id}}">{{details.name}}</option>
                            <!-- <option value=""> Marketing</option>
                            <option value="">Communication Skills</option> -->
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <input class="form-control" placeholder="Chapter Name" [(ngModel)]="name" name="name">
                    </div>
                    <div class="col-lg-3">
                        <textarea class="form-control" placeholder="Description" [(ngModel)]="description"></textarea>
                    </div>
                    <div class="col-lg-2">
                        <ngx-dropzone (change)="onSelect($event)" style="width:100% ;height: auto;">
                            <ngx-dropzone-label>Please attach Photo!</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>
                    <div class="col-lg-3">
                        <!-- <img class="image" src="assets/Images/youtube.png">&nbsp;&nbsp;
                        <img  class="image" src="assets/Images/word.png">&nbsp;&nbsp;
                        <img  class="image" src="assets/Images/pdf.png">&nbsp;&nbsp;
                        <img class="image" src="assets/Images/image.png">&nbsp;&nbsp;
                        <img  class="image"src="assets/Images/files.png">&nbsp;&nbsp; -->

                        <ngx-dropzone (change)="onSelect1($event)" style="width:100% ;height: auto;">
                            <ngx-dropzone-label>
                                <img class="image" src="assets/Images/youtube.png">&nbsp;&nbsp;
                                <img class="image" src="assets/Images/word.png">&nbsp;&nbsp;
                                <img class="image" src="assets/Images/pdf.png">&nbsp;&nbsp;
                                <img class="image" src="assets/Images/image.png">&nbsp;&nbsp;
                                <img class="image" src="assets/Images/files.png">&nbsp;&nbsp;
                            </ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of files1" [removable]="true" (removed)="onRemove1(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>

                </div> <br>

                <div class="row">

                    <div class="col-lg-3">
                        <p>Chapter Text</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8" style="text-align: justify;">
                        <textarea class="form-control" placeholder="Chapter text" rows="10" [(ngModel)]="chapterText"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9"></div>
                    <div class="col-lg-1">
                        <button class="form-control  button1">Cancel</button>
                    </div>
                    <div class="col-lg-1">
                        <button class="form-control Save" *ngIf="id==undefined" (click)="Save()">Save</button>
                        <button class="form-control Save" *ngIf="id!= undefined" (click)="Update()">Update</button>

                        
                        
                        <!-- <button class="form-control button1"  *ngIf="id==null || id==undefined" (click)="Save()">Save</button>    
                     <button class="form-control button1"  *ngIf="id!=null || id!=undefined" (click)="Update()">Update</button>    -->
                    </div>
                    <div class="col-lg-1"></div>
                </div><br>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>