<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10">
            <p class="headings">Content Feedback Report </p>
        </div>
        <div class="col-lg-2">
            <p class="count">Count: 3</p>
        </div>
    </div>

    <div class="card">
        <br>
        <div class="row FilterClass ">
            <div class="col-lg-1">
                <p class="filter">Filter By </p>
            </div>
            <div class="col-lg-3">
                <select class="form-control " id="Duration">
                    <option class="FilterClass" value="0">Select Center</option>
                    <option class="FilterClass" value="0">Center 1</option>
                    <option class="FilterClass" value="0">Center 2</option>
                </select>
            </div>
            <div class="col-lg-3">
                <select class="form-control " id="Duration">
                    <option class="FilterClass" value="0">Select Course</option>
                    <option value="1">Bachelor in Fashion Design</option>
                    <option value="2">Diploma in Fashion Design</option>
                    <option value="3">Master in Fashion Technology</option>
                </select>
            </div>
            <div class="col-lg-3">
                <!-- <input type="search" class="form-control search" placeholder="Search for Course"> -->
                <!-- <select class="form-control " id="Duration">
                    <option class="FilterClass" value="0">Feedback Date</option>
                </select> -->
                    <input type="date" id="date" name="date" class="form-control" placeholder="Feedback Date">
            </div>
        </div><br>
    </div> <br>
    <div class="row">
        <div class="col-lg-9"></div>
        <div class="col-lg-3">
            <!-- <button class="addnew" routerLink="/Course">Add</button> -->
        </div>
    </div> <br>



    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12" style="overflow: auto;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Center Name</th>
                            <th>Student Name</th>
                            <th>Subject Name</th>
                            <th>Course Name</th>
                            <th>Date</th>
                            <th>Content Feedback</th>
                            <!-- <th>Date</th>
                            <th>Staff Name</th>
                            <th>No. Of Students</th>
                            <th>Percentage Completion</th> -->
                        </tr>
                        <tr>
                            <td>
                                <p>Center 1</p>
                            </td>
                            <td>
                                <p>Vidya</p>
                            </td>
                            <td>
                               <p> Fashion Design</p>
                            </td>
                            <td>
                                <p>Bachelor in Fashion Design</p>

                            </td>
                            <td>
                            <p>22-4-2022</p>
                            </td>
                            <td>

                                <p>gain knowlegede for this course and will use for my business</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Center 2</p>
                            </td>
                            <td>
                                <p>Savidhya</p>
                            </td>
                            <td>
                               <p> Fashion Marketing </p>
                            </td>
                            <td>
                                <p>Diploma in Fashion Design</p>
                            </td>
                            <td>
                                <p>
                                    19-4-2022
                                </p>
                            </td>
                            <td>

                                <p>I would highly recommend this course for someone passionate about the industry</p>
                            </td>
                            <!-- <td>
                                Sachin

                            </td>
                            <td>

                                170
                            </td>
                            <td>
                                55 %
                            </td> -->
                        </tr>
                        <tr>
                            <td>
                                <p>Center 3</p>
                            </td>
                            <td>
                                <p>Suma</p>
                            </td>
                            <td>
                                <p>
                                    M.Sc
                                </p>
                            </td>
                            <td>
                                <p>Master in Fashion Technology</p>

                            </td>
                            <td>
                                <p>
                                    15-4-2022
                                </p>
                            </td>
                            <td>

                                <p>This course is excellently taught and very engaging</p>
                            </td>
                           
                            <!-- <td>
                                Samir

                            </td>
                            <td>

                                100
                            </td>
                            <td>
                                60 %
                            </td> -->
                        </tr>
                        <tr>
                            <td>
                                <p>Center 1</p>
                            </td>
                            <td>
                                <p>Vidya</p>
                            </td>
                            <td>
                               <p> Fashion Design</p>
                            </td>
                            <td>
                                <p>Bachelor in Fashion Design</p>

                            </td>
                            <td>
                            <p>22-4-2022</p>
                            </td>
                            <td>

                                <p>gain knowlegede for this course and will use for my business</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Center 2</p>
                            </td>
                            <td>
                                <p>Savidhya</p>
                            </td>
                            <td>
                               <p> Fashion Marketing </p>
                            </td>
                            <td>
                                <p>Diploma in Fashion Design</p>
                            </td>
                            <td>
                                <p>
                                    19-4-2022
                                </p>
                            </td>
                            <td>

                                <p>I would highly recommend this course for someone passionate about the industry</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Center 3</p>
                            </td>
                            <td>
                                <p>Suma</p>
                            </td>
                            <td>
                                <p>
                                    M.Sc
                                </p>
                            </td>
                            <td>
                                <p>Master in Fashion Technology</p>

                            </td>
                            <td>
                                <p>
                                    15-4-2022
                                </p>
                            </td>
                            <td>

                                <p>This course is excellently taught and very engaging</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Center 2</p>
                            </td>
                            <td>
                                <p>Savidhya</p>
                            </td>
                            <td>
                               <p> Fashion Marketing </p>
                            </td>
                            <td>
                                <p>Diploma in Fashion Design</p>
                            </td>
                            <td>
                                <p>
                                    19-4-2022
                                </p>
                            </td>
                            <td>

                                <p>I would highly recommend this course for someone passionate about the industry</p>
                            </td>
                            <!-- <td>
                                Sachin

                            </td>
                            <td>

                                170
                            </td>
                            <td>
                                55 %
                            </td> -->
                        </tr>
                        <tr>
                            <td>
                                <p>Center 3</p>
                            </td>
                            <td>
                                <p>Suma</p>
                            </td>
                            <td>
                                <p>
                                    M.Sc
                                </p>
                            </td>
                            <td>
                                <p>Master in Fashion Technology</p>

                            </td>
                            <td>
                                <p>
                                    15-4-2022
                                </p>
                            </td>
                            <td>

                                <p>This course is excellently taught and very engaging</p>
                            </td>
                           
                            <!-- <td>
                                Samir

                            </td>
                            <td>

                                100
                            </td>
                            <td>
                                60 %
                            </td> -->
                        </tr>
                        <tr>
                            <td>
                                <p>Center 1</p>
                            </td>
                            <td>
                                <p>Vidya</p>
                            </td>
                            <td>
                               <p> Fashion Design</p>
                            </td>
                            <td>
                                <p>Bachelor in Fashion Design</p>

                            </td>
                            <td>
                            <p>22-4-2022</p>
                            </td>
                            <td>

                                <p>gain knowlegede for this course and will use for my business</p>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</div>
<div id="enroll1" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="text-align: left;    margin-left: 123px;
        width: 550px;
        text-align: left;">
            <div class="modal-header" style="text-align: left;">
                <h4 class="modal-title">Substitute Staff</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-left: 0px;">
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-2">
                        <p>Date:</p>
                    </div>
                    <div class="col-lg-5">
                        <input type="date" id="date" name="date" class="form-control">
                    </div>

                </div>
                <br>
                <div class="row" style="margin-left: 0px;">
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-2">
                        <p>Staff:</p>
                    </div>
                    <div class="col-lg-5">
                        <select class="form-control" name="cars" id="Duration">
                            <option value="0">Select Staff</option>
                            <option value="0">Arjun</option>
                            <option value="0">Samir</option>
                            <option value="0">Pravin</option>
                            <option value="0">Sachin</option>
                            <option value="0">Dilip</option>

                        </select>
                    </div>

                </div>
                <br>
                <br>
                <div class="row" style="margin-left: 0px;">
                    <div class="col-lg-4">

                    </div>
                    <div class="col-lg-4">
                        <button class="form-control cancel">Substitute</button>
                    </div>
                    <div class="col-lg-4">

                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <hr>

            </div>
        </div>
    </div>
</div>


<!-- 
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8">
                        <br>
                        <img src="{{image}}" style="width:100%;height:auto;">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               
            </div>
        </div>
    </div>
</div> -->


<!-- <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-size: 19px;color:#3247D5">Description</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12" style="color:#0C275A ;font-size: 13px;">
                        <p [innerHTML]="description"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-lg-9"></div>
               
            </div>
        </div>
    </div>
</div> -->