<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-10">
                    <p class="Heading">Assessment Dashboard</p>
                </div>
                <div class="col-lg-2">
                    <p class="Text" style="float:right; padding-right:50px;">Count:1</p>
                </div>
            </div>
            <hr class="HrLine">

            <div class="row FilterClass ">
                <div class="col-lg-1">
                    <p class="Text">Filter By</p>
                </div>
                <div class="col-lg-3">
                    <select class="form-control" name="cars" id="Duration">
                        <option value="Select">Select Course</option>
                        <option value="">Compliance</option>
                        <option value=""> Marketing</option>
                        <option value="">Communication Skills</option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <select class="form-control" name="cars" id="Duration">
                        <option value="Select">Select Question Type</option>
                        <option value="">Objective</option>
                        <option value=""> Subjective</option>
                    </select>
                </div>
                <div class="col-lg-5">
                    <!-- <input type="search" class="form-control" placeholder="Search for Name.." [(ngModel)]="search"
                        name="search"> -->
                    <input type="search" class="form-control" placeholder="Search for Name..">
                </div>
            </div><br>
            <div class="row">
                <div class="col-lg-9"></div>
                <div class="col-lg-3">
                    <button class=button routerLink="/AssessmentForm">Add</button>
                </div>
            </div> <br>


            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- <table class="table" *ngIf="(vendordetails | filter: search).length > 0; else noResults"> -->
                        <table class="table table-bordered">
                            <thead>
                                <tr class="head">
                                    <th>Course Name</th>
                                    <th>Chapter Name</th>
                                    <th>QuestionType</th>
                                    <th>Question</th>
                                    <th>Option1</th>
                                    <th>Option2</th>
                                    <th>Option3</th>
                                    <th>Option4</th>
                                    <th>Correct Answer</th>
                                    <th>Weightage</th>
                                    <th>Actions</th>
                                </tr>
<!-- 
                                <tr class="header">
                                    <td>2016 JAVA Overview</td>
                                    <td>Foundamentals of JAVA </td>
                                    <td>Subjective</td>
                                    <td>What is Java?what are its Applications</td>
                                    <td>Java is a popular programming language.
                                        Java is used to develop mobile apps, web apps, desktop apps, games and much
                                         more.</td> 
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td>
                                        Java is a programming language and a platform. Java is a high level, robust,
                                        object-oriented and secure programming language.
                                        Java was developed by Sun Microsystems (which is now the subsidiary of Oracle)
                                        in the year 1995. James Gosling is known as the father of Java. Before Java, its
                                        name was Oak. Since Oak was already a registered company, so James Gosling and
                                        his team changed the name from Oak to Java.
                                    </td>
                                    <td><button class="button1" routerLink="/Chapter">Edit</button> <br> <br>
                                        <button class="button2">Delete</button>
                                    </td>
                                </tr> -->

                                <tr class="header" *ngFor="let item of quetionlist">
                                    <td>{{item.coursename}}</td>
                                    <td>{{item.chaptername}}</td>
                                    <td>{{item.type}}</td>
                                    <td>{{item.question}}</td>
                                    <td>{{item.option1}}</td>
                                    <td>{{item.option2}}</td>
                                    <td>{{item.option3}}</td>
                                    <td>{{item.option4}}</td>
                                    <td>{{item.correctAnswer}}</td>
                                    <td>{{item.marks}}</td>
                                
                                    <td><button class="button1" routerLink="/AssessmentForm">Edit</button> <br> <br>
                                        <button class="button2">Delete</button>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                        <!-- <ng-template #noResults>
                            <p class="NoResultShow"> No results found for "{{search}}" </p>
                        </ng-template> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>