<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10">
            <div class="row rowwidth">
               
                <div class="col-lg-3">
                    <div class="card1 carousel"
                        style="background-color: black; height: 255px;width: 300px; border-radius: 10px;">
                        <div class="front">
                            <br>
                            <div class="row title_outer1">
                                <div class="col-lg-3" style="margin-left: 10px;">
                                    <img src="assets/Images/default_user.jpg" style="width:200% ; border-radius: 10px;">
                                </div>
                                <div class="col-lg-9">
                                    <h1 class="cardlabel"
                                        style="color: #555;font-size: 22px;margin-top: 0px; margin-left: 5px;">
                                        Peera Pornsuksawang </h1>
                                    <h4 style="color:white;font-size: 22px; margin-left: 5px;">Happy Learning!!
                                    </h4>
                                </div>
                            </div><br><br>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="row" style="color:rgb(82, 80, 80)">
                        <div class="col-lg-12" style="margin-left: 10px;">
                            <p style="font-size: 20px;">Last Assigned</p>
                        </div>
                    </div><br> <br>
                    <div class="row" style="background-color: white; margin-left:5px; margin-right:5px;">
                        <div class="col-lg-12">
                            <p style="font-size: 20px;">Active Listining And Custo....</p>
                            <button class="start" routerLink="/StartMyCourse">Start</button>
                            <br><br><br><br><br><br>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card1"
                        style="background-color: white; height: 255px;width: 300px; border-radius: 10px;">
                        <div class="front">
                            <div class="row" style="margin-left: 10px;padding-top:10px;">
                                <div class="col-lg-10">
                                    <p style="font-size:15px;">Training</p>
                                    <p>2 Not Started &nbsp; &nbsp;
                                        0 in progress &nbsp;&nbsp;
                                        0 Completed </p>
                                </div>
                                <hr>
                                <div class="col-l-2">
                                    <p style="background-color:whitesmoke;">2</p>
                                </div>
                            </div>
                            <div class="row" style="margin-left: 10px;">
                                <div class="col-lg-10">
                                    <p style="font-size: 15px;">Assesment</p>
                                    <p>1 Not Started &nbsp; &nbsp;
                                        0 in progress &nbsp;&nbsp;
                                        0 Completed </p>
                                </div>
                                <div class="col-l-2">
                                    <p style="background-color:whitesmoke;font-size: 12px; ">1</p>
                                </div>
                            </div>
                            <div class="row" style="margin-left: 10px;">
                                <div class="col-lg-10">
                                    <p style="font-size: 15px;">Survey</p>
                                    <p>1 Not Started &nbsp; &nbsp;
                                        0 in progress &nbsp;&nbsp;
                                        0 Completed </p>
                                </div>
                                <div class="col-l-2">
                                    <p style="background-color:whitesmoke;font-size: 12px; ">1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card1 "
                        style="background-color: white; height: 255px;width: 300px; border-radius: 10px;">
                        <div class="front">
                            <div class="row" style="margin-left: 10px;padding-top:10px;">
                                <div class="col-lg-12">
                                    <p style="font-size:25px; font-weight: 300; color:black">Learning Path</p>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6"></div>
                                    <div class="col-lg-6">
                                        <p style="margin-left: 20px;">Assigned 3</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <br> <br>
<div class="row">
    <div class="col-lg-12 View ">
        <ul>
            <li><a class="active">All</a></li>
            <li><a class="active">Training</a></li>
            <li><a class="active">Assesment</a></li>
        </ul>
    </div>
</div> 
<hr class="hrline">
<div class="row">
    <div class="col-lg-3">
        <div class="card1" style="background-color: white; height: 325px;width: 275px;"
            (click)="flip1($event)">
            <div class="back">
                <br>
                <div class="row">
                    <div class="col-lg-2">
                        <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 43px;color:maroon; margin-top: 5px;
                            margin-left: 5px;"></i>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-7">
                        <label class="name">Course Title<br>
                            <div class="din-Medium1">Description</div>
                            <div class="din-Medium1">Photo</div>
                        </label>
                    </div>
                </div>
                <hr class="new4">
                <div class="backflip">
                    <button class="bcakbtn">BACK</button>


                    <a href="#/VendorJobOpenings"><button class="viewall">VIEW ALL</button></a>
                    <!-- <button class="viewall" (click)="Regularization()" routerLink="/JobRecruitements/">VIEW ALL</button> -->
                </div>
            </div>
            <div class="front">
                <br>
                <div class="row title_outer1">
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-1">
                        <i class="fa fa-calendar calend" aria-hidden="true"></i>
                    </div>
                    <div class="col-lg-9">
                        <h1 class="cardlabel" style="color: #555;font-size: 25px;margin-top: 0px;">Courses
                        </h1>
                    </div>
                </div><br><br>
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4" style="text-align: center;">
                        <h6 class="Number">10</h6>
                    </div>
                    <div class="col-lg-4"></div>
                </div><br><br><br><br>
                <button class="clickbutton1">VIEW DETAILS</button>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card1" style="background-color: white; height: 325px;width: 275px;"
            (click)="flip1($event)">
            <div class="back">
                <br>
                <div class="row">
                    <div class="col-lg-2">
                        <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 43px;color:maroon; margin-top: 5px;
                            margin-left: 5px;"></i>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-7">
                        <label class="name">Course Title<br>
                            <div class="din-Medium1">Description</div>
                            <div class="din-Medium1">Photo</div>
                        </label>
                    </div>
                </div>
                <hr class="new4">
                <div class="backflip">
                    <button class="bcakbtn">BACK</button>


                    <a href="#/VendorJobOpenings"><button class="viewall">VIEW ALL</button></a>
                    <!-- <button class="viewall" (click)="Regularization()" routerLink="/JobRecruitements/">VIEW ALL</button> -->
                </div>
            </div>
            <div class="front">
                <br>
                <div class="row title_outer1">
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-1">
                        <i class="fa fa-calendar calend" aria-hidden="true"></i>
                    </div>
                    <div class="col-lg-9">
                        <h1 class="cardlabel" style="color: #555;font-size: 25px;margin-top: 0px;">Courses
                        </h1>
                    </div>
                </div><br><br>
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4" style="text-align: center;">
                        <h6 class="Number">10</h6>
                    </div>
                    <div class="col-lg-4"></div>
                </div><br><br><br><br>
                <button class="clickbutton1">VIEW DETAILS</button>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card1" style="background-color: white; height: 325px;width: 275px;"
            (click)="flip1($event)">
            <div class="back">
                <br>
                <div class="row">
                    <div class="col-lg-2">
                        <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 43px;color:maroon; margin-top: 5px;
                            margin-left: 5px;"></i>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-7">
                        <label class="name">Course Title<br>
                            <div class="din-Medium1">Description</div>
                            <div class="din-Medium1">Photo</div>
                        </label>
                    </div>
                </div>
                <hr class="new4">
                <div class="backflip">
                    <button class="bcakbtn">BACK</button>


                    <a href="#/VendorJobOpenings"><button class="viewall">VIEW ALL</button></a>
                    <!-- <button class="viewall" (click)="Regularization()" routerLink="/JobRecruitements/">VIEW ALL</button> -->
                </div>
            </div>
            <div class="front">
                <br>
                <div class="row title_outer1">
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-1">
                        <i class="fa fa-calendar calend" aria-hidden="true"></i>
                    </div>
                    <div class="col-lg-9">
                        <h1 class="cardlabel" style="color: #555;font-size: 25px;margin-top: 0px;">Courses
                        </h1>
                    </div>
                </div><br><br>
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4" style="text-align: center;">
                        <h6 class="Number">10</h6>
                    </div>
                    <div class="col-lg-4"></div>
                </div><br><br><br><br>
                <button class="clickbutton1">VIEW DETAILS</button>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card1" style="background-color: white; height: 325px;width: 275px;"
            (click)="flip1($event)">
            <div class="back">
                <br>
                <div class="row">
                    <div class="col-lg-2">
                        <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 43px;color:maroon; margin-top: 5px;
                            margin-left: 5px;"></i>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-7">
                        <label class="name">Course Title<br>
                            <div class="din-Medium1">Description</div>
                            <div class="din-Medium1">Photo</div>
                        </label>
                    </div>
                </div>
                <hr class="new4">
                <div class="backflip">
                    <button class="bcakbtn">BACK</button>


                    <a href="#/VendorJobOpenings"><button class="viewall">VIEW ALL</button></a>
                    <!-- <button class="viewall" (click)="Regularization()" routerLink="/JobRecruitements/">VIEW ALL</button> -->
                </div>
            </div>
            <div class="front">
                <br>
                <div class="row title_outer1">
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-1">
                        <i class="fa fa-calendar calend" aria-hidden="true"></i>
                    </div>
                    <div class="col-lg-9">
                        <h1 class="cardlabel" style="color: #555;font-size: 25px;margin-top: 0px;">Courses
                        </h1>
                    </div>
                </div><br><br>
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4" style="text-align: center;">
                        <h6 class="Number">10</h6>
                    </div>
                    <div class="col-lg-4"></div>
                </div><br><br><br><br>
                <button class="clickbutton1">VIEW DETAILS</button>
            </div>
        </div>
    </div>
</div>




  