.start{
    border:none;
    border-radius: 5px;
    color:black;
    background-color: whitesmoke;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    text-decoration: 3px solid rgb(72, 83, 238) underline;
    color:   rgb(72, 83, 238)
  }
  
  .View{
      font-size: 15px;
      color:gray;
  }
 
 
.start:hover{
    background-color: black;
    color: white;
}

