<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-3">
                    <div class="card1"
                        style="background-color: black; height: 255px;width: 300px; border-radius: 10px;">
                        <div class="front">
                            <br>
                            <div class="row title_outer1">
                                <div class="col-lg-3" style="margin-left: 10px;">
                                    <img src="assets/Images/default_user.jpg" style="width:200% ; border-radius: 10px;">
                                </div>
                                <div class="col-lg-9">
                                    <h1 class="cardlabel"
                                        style="color: #555;font-size: 22px;margin-top: 0px; margin-left: 5px;">
                                        Peera Pornsuksawang </h1>
                                    <h4 style="color:white;font-size: 22px; margin-left: 5px;">Happy Learning!!
                                    </h4>
                                </div>
                            </div><br><br>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card1"
                        style="background-color: white; height: 255px;width: 300px; border-radius: 10px;">
                        <img class="card-img-top" src="/assets/Images/course1.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Active listening and Customer Satisfaction</h5>
                            <button href="#" class="btn" style="font-size: 12px; width:100px;">START
                                COURSE</button>&nbsp;&nbsp;
                            <button routerLink="/ViewCourse" class="btn" style="font-size: 12px; width:100px;">VIEW
                                COURSE</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card1"
                        style="background-color: white; height: 255px;width: 300px; border-radius: 10px;">
                        <div class="front">
                            <div class="row" style="margin-left: 10px;padding-top:10px;">
                                <div class="col-lg-10">
                                    <p style="font-size:15px;">Training</p>
                                    <p>2 Not Started &nbsp; &nbsp;
                                        0 in progress &nbsp;&nbsp;
                                        0 Completed </p>
                                </div>
                                <hr>
                                <div class="col-l-2">
                                    <p style="background-color:whitesmoke;">2</p>
                                </div>
                            </div>
                            <div class="row" style="margin-left: 10px;">
                                <div class="col-lg-10">
                                    <p style="font-size: 15px;">Assesment</p>
                                    <p>1 Not Started &nbsp; &nbsp;
                                        0 in progress &nbsp;&nbsp;
                                        0 Completed </p>
                                </div>
                                <div class="col-l-2">
                                    <p style="background-color:whitesmoke;font-size: 12px; ">1</p>
                                </div>
                            </div>
                            <div class="row" style="margin-left: 10px;">
                                <div class="col-lg-10">
                                    <p style="font-size: 15px;">Survey</p>
                                    <p>1 Not Started &nbsp; &nbsp;
                                        0 in progress &nbsp;&nbsp;
                                        0 Completed </p>
                                </div>
                                <div class="col-l-2">
                                    <p style="background-color:whitesmoke;font-size: 12px; ">1</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card1 "
                        style="background-color: white; height: 255px;width: 300px; border-radius: 10px;">
                        <div class="front">
                            <div class="row" style="margin-left: 10px;padding-top:10px;">
                                <div class="col-lg-12">
                                    <p style="font-size:25px; font-weight: 300; color:black">Learning Path</p>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p style="margin-left: 100px; font-size: 18px;">Assigned 3</p>
                                    </div>
                                </div> <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <br> <br>
            <div class="row">
                <div class="col-lg-12 View ">
                    <ul>
                        <li><a class="active">All</a></li>
                        <li><a class="active">Training</a></li>
                        <li><a class="active">Assesment</a></li>
                    </ul>
                </div>
            </div><hr>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card1"
                        style="background-color: white; height: 255px;width: 300px; border-radius: 10px;">
                        <img class="card-img-top  img" src="assets/Images/course2.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">2016 SPi Global Overview</h5>
                             <p>2016 SPi Global VMV</p>
                            <button href="#" class="btn" style="font-size: 12px; width:100px;">START
                                COURSE</button>&nbsp;&nbsp;
                            <button routerLink="/ViewCourse" class="btn" style="font-size: 12px; width:100px;">
                                Flip For Details</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card1"
                        style="background-color: white; height: 255px;width: 300px; border-radius: 10px;">
                        <img class="card-img-top thumb " src="assets/Images/coursethumb.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Subjective</h5>
                             <p>All Cases janit</p>
                            <button href="#" class="btn" style="font-size: 12px; width:100px;">Start
                                Course</button>&nbsp;&nbsp;
                            <button routerLink="/ViewCourse" class="btn" style="font-size: 12px; width:100px;">
                                Flip For Details</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card1"
                        style="background-color: white; height: 255px;width: 300px; border-radius: 10px;">
                        <img class="card-img-top  img" src="assets/Images/course2.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Subjective</h5>
                             <p>All Cases janit</p>
                            <button href="#" class="btn" style="font-size: 12px; width:100px;">View Course
                                COURSE</button>&nbsp;&nbsp;
                            <button routerLink="/ViewCourse" class="btn" style="font-size: 12px; width:100px;">
                                Flip For Details</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card1"
                        style="background-color: white; height: 255px;width: 300px; border-radius: 10px;">
                        <img class="card-img-top  img" src="assets/Images/course2.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">2016 SPi Global Overview</h5>
                             <p>2016 SPi Global VMV</p>
                            <button href="#" class="btn" style="font-size: 12px; width:100px;">START
                                COURSE</button>&nbsp;&nbsp;
                            <button routerLink="/ViewCourse" class="btn" style="font-size: 12px; width:100px;">
                                Flip For Details</button>
                        </div>
                    </div>
                </div>
            </div>
       





</div>








</div>
<div class="col-lg-1"></div>
</div>