 
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-10">
                    <p class="Heading">Chapter Dashboard</p>
                </div>
                <div class="col-lg-2">
                    <p class="Text" style="float:right; padding-right:50px;">Count:1</p>
                </div>
            </div>
            <hr class="HrLine">
            <div class="row FilterClass ">
                <div class="col-lg-1">
                    <p class="Text">Filter By</p>
                </div>
                <div class="col-lg-3">
                    <select class="form-control" name="cars" id="Duration">
                        <option value="Select">Select Course</option>
                        <option value="">Compliance</option>
                        <option value=""> Marketing</option>
                        <option value="">Communication Skills</option>
                    </select>
                </div>
                <div class="col-lg-5">
                    <input type="search" class="form-control" placeholder="Search for Name..">
                </div>
            </div><br>
            <!-- <div class="row">
                <div class="col-lg-9"></div>
                <div class="col-lg-3">
                    <button class=button routerLink="/Chapter">Add</button>
                </div>
            </div> <br> -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="head">
                                    <th>Course Name</th>
                                    <th>Chapter Name</th>
                                    <th>Description</th>
                                    <th style="width:15%">Chapter Photo</th>
                                    <th>Attachment</th>
                                    <th>Chapter Text</th>
                                    <th>Actions</th>
                                </tr>

                                <tr class="header">
                                    <td>2016 JAVA Overview</td>
                                    <td>Foundamentals of JAVA </td>
                                    <td>Java is a popular programming language.
                                        Java is used to develop mobile apps, web apps, desktop apps, games and much
                                        more.</td>
                                    <!-- <td><img class="pdfimg" src="assets/Images/java.jpg"></td>
                                    <td><img class="file" src="assets/Images/files.png" (click)="PreviewPPT()">&nbsp;&nbsp;
                                        <img class="video" src="assets/Images/youtube.png" (click)="PreviewVideo()">
                                    </td> -->
                                    <td>                                       
                                        Java is a programming language and a platform. Java is a high level, robust,
                                        object-oriented and secure programming language.
                                        Java was developed by Sun Microsystems (which is now the subsidiary of Oracle)
                                        in the year 1995. James Gosling is known as the father of Java. Before Java, its
                                        name was Oak. Since Oak was already a registered company, so James Gosling and
                                        his team changed the name from Oak to Java.
                                    </td>
                                    <!-- <td><button class="button1" routerLink="/Chapter">Edit</button> <br> <br>
                                        <button class="button2">Delete</button>
                                    </td> -->
                                </tr>
                            </thead>
                        </table>
                        <!-- <ng-template #noResults>
                            <p class="NoResultShow"> No results found for "{{search}}" </p>
                        </ng-template> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>