.Job{
    color:gray;
    padding-left: 10px;
    font-size: 18px;
    padding-top: 20px;
    font-weight: 400;
  }
  .search{
    margin-left: 10px;
  }
  
  .newFont{
   
    color:black;
    width:100%;
    vertical-align: middle;
  }
  td{
    background-color: white
  }
  /* /* .th{
    background-color: #e4e5e6;
    color:#404040;
    font-family: "DIN Bold";
  } */
  /* .table, th, td {
  border: 1px solid lightgray;
   border-collapse: collapse; 

  } */
  .Heading{
  padding-left: 15px;
  font-size: 20px;
  color:black;
  }
  .header{
    background-color: #dee2e6;
    color:#404040;
    font-family: 'Poppins';
    font-size: 12px;
   padding:5px;

  }
  .head{
  background-color: #dee2e6;
  color:#404040;
  font-family: 'Poppins';
  font-size: 15px;
 padding:5px;
  }
  .FilterClass{
  padding-left: 15px;
  }
  .count{
  text-align: right;
  padding-right: 10px;;
  }
  .table{
    border-radius: 5px;
   
  }
  th,td{
    border: 1px #404040;
    border-collapse: collapse;
  }
  
  .button1{
    padding:5px;
    border-radius: 5px;
    color:white;
    background-color: #2F87CC;
    border:none;
    width:100%;

  }

  .button2{
    padding:5px;
    border-radius: 5px;
    color:white;
    background-color: #2F87CC;
    border:none;
    width:100%;
   
   

  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    text-decoration: 3px solid rgb(72, 83, 238) underline;
    color:   rgb(72, 83, 238)
  }
  .button{
    text-transform: uppercase;
  font-weight: initial;
  text-shadow: initial;
  letter-spacing: 0.5px;
  background-color:#2F87CC ;
  color:white;
  border-radius: 5px;
  border:none;
  padding: 5px;
  width:40%;
  float: right;
  margin-right: 15px;
  font-size: 15px;
  font-weight: bold;
  }
 
  .FilterClass{
    padding-left: 15px;
  }  
  .Text{
    font-size: 18px;
  }

  .NoResultShow{
    font-size: 16px;
  }
  .pdfimg{
    width:100px;
    height: auto;
}
.photo{
  width: 100px;
  height: auto;
}
.video{
  width:35%;
  height:auto;
  text-align: center;
}
.file{
  width:35%;
  height:auto;
  text-align: center;
}
  