<div class="container-fluid" style="padding-left: 20px; background-color: white;">
    <div class="row">
        <div class="col-lg-12">
            <h1>Java Programming</h1>
            <hr>
        </div>
    </div>
    <div class="row heading">
        <div class="col-lg-12">
            <h6>Fundamental Concepts of OOP’s</h6>
        </div>
    </div><br>
    <div class="row"style="padding-left: 20px; ">
        <div class="col-lg-10 colwidth" >
            <h3><u>Subjective Type Questions</u></h3><br>
            <!-- <p >Q1. Why is Java a platform independent language?</p> <br> -->
            <p  *ngFor="let details of quetionlist" >{{count}} {{details.question}}</p>
            <textarea class="form-control" placeholder="write your answer here..." rows="2" *ngFor="let details of quetionlist" >{{details.correctAnswer}}</textarea><br>
            <!-- <p  *ngFor="let details of quetionlist" >{{details.question}}</p> -->
            <!-- <p>Q2. What are the benefits of using Multithreading?</p> <br> -->
            <textarea class="form-control" placeholder="write your answer here..." rows="2"></textarea><br>
            <p>Q3. What is Thread in Java?</p> <br>
            <textarea class="form-control" placeholder="write your answer here..." rows="2"></textarea><br>
            <p>Q4.What are the two ways of implementing thread in Java?</p> <br>
            <textarea class="form-control" placeholder="write your answer here..." rows="2"></textarea><br>
            <p>Q5.What's the difference between thread and process?</p> <br>
            <textarea class="form-control" placeholder="write your answer here..." rows="2"></textarea><br>

            <h3><u>Objective Type Questions</u></h3><br>
            <p>Q1. Java is a __________ language</p>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;pure object oriented<br><br>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;not a pure object oriented<br><br>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;Procedure oriented<br><br>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;none of the above<br><br>
            
            <p>Q2. What is multithreaded programming?</p>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;It’s a process in which two different processes run simultaneously<br><br>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp; It’s a process in which two or more parts of same process run simultaneously<br><br>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp; It’s a process in which many different process are able to access same information<br><br>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;It’s a process in which a single process can access information from many sources<br><br>
            <p>Q3. Which of these are types of multitasking</p>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;Process based<br><br>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;Thread based<br><br>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;Process and Thread based<br><br>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;none of the above<br><br>

            <p>Q4.  Thread priority in Java is?</p>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;Integer<br><br>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;Float<br><br>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp; double<br><br>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;long<br><br>
            <p>Q5. Java is a __________ language</p>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;pure object oriented<br><br>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;not a pure object oriented<br><br>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;Procedure oriented<br><br>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;none of the above<br><br>
            <p>Q6. Java is a __________ language</p>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;pure object oriented<br><br>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;not a pure object oriented<br><br>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;Procedure oriented<br><br>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;none of the above<br><br>
            <p>Q7. Java is a __________ language</p>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;pure object oriented<br><br>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;not a pure object oriented<br><br>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;Procedure oriented<br><br>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;none of the above<br><br>
            <p>Q8. Java is a __________ language</p>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;pure object oriented<br><br>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;not a pure object oriented<br><br>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;Procedure oriented<br><br>
            <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;none of the above<br><br>

        </div>
        <div class="col-lg-2">
            <div class="row">
                <div class=" col-lg-12">  <p style="margin-left: 30px;">Subjective Questions </p></div>
            </div> <hr>  
            <div class="row">
                <div class="col-lg-6">
                    <p>Answered</p>
                </div>
                <div class="col-lg-6">
                    <p>Not Answered</p>
                </div>
            </div> <br><br><br>
            <div class="row">
                <div class=" col-lg-12">  <p style="margin-left: 30px;">Objective Questions </p></div>
            </div> <hr>  
            <div class="row">
                <div class="col-lg-6">
                    <p>Answered</p>
                </div>
                <div class="col-lg-6">
                    <p>Not Answered</p>
                </div>
            </div> <br><br><br>    
        </div>
    </div>
    <hr>
    <div class="row" style="padding: 20px; ">
        <!-- <div class="col-lg-2">
            <button class="form-control button" routerLink="/StartMyCourse">Course Content</button>
        </div> -->
        <div class="col-lg-3"></div>
        <div class="col-lg-1">
            <button class="form-control button" (click)="cancel()">Cancel</button>
        </div>
        <div class="col-lg-1">
            <button class="form-control button"  (click)="submit()">Submit</button>
        </div>
    </div>
</div>

<br>