.heading {
    padding: 5px;
    background-color: black;
    color: white;
    margin: 1px;
    border-radius: 5px;
    font-weight: bold;
}

.card1 {
    height: 175px;
    width: 70%;
    border-radius: 5px;
    border: transparent;
    background-color: rgb(185, 183, 183);
    margin-bottom: 10px;
    
}
.image{
    width: 50%;
    height: auto;
    margin-left: 60px;
    margin-top: 20px;
}
.button{
    background-color: black;
    color: white;
}
li{
    display: inline;
}
.colwidth{
    height: 600px;
    overflow-y: scroll;
}
.inputoption{
   display: flex;
   align-items: center;
    margin-bottom: 20px;
}
.starttest{
    background-color: #3247D5;
    color:white;
    border-radius: 5px;
}
.option{
    font-style: bold;
}