/* .Dashboard{
    text-align: Center;
    background-color: #21a4da;
    width:100%;
    height:auto;
    padding:5px;
    color:white;
    font-size: 24px;
}

.text{
    text-align: left;
    color:gray;
    font-size: 20px;
    font-weight: bold;
   padding-top: 8px;
   padding-left: 3px;
}
.Number{
    text-align: center;
    padding-top: 17px;
    color:gray;
    font-size: 25px;
    font-weight: bold;
} */
.CardHead {
  height: 45px;
  overflow-y: scroll;
  font-size: 19px;
  color: #3247d5;
  font-family: "Poppins";
  /* overflow-y: hidden; */
}
.CardBody {
  height: 70px;
  overflow-y: scroll;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  color: #0c275a;
}


/* .BBBB{
  width: 100%;
  border: none;
  background: #3247D5;
  text-align: center;
  border-radius: 6px;
  color: white;
  margin-top: 6px;
  padding: 5px;
} */

.NoResultShow {
  color: #0c275a;
  font-size: 19px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  margin-left: 38px;
}

/* .EnrollBTN{
  background-color: darkgrey;
  font-size: 11px;
  width: 110%;
  margin-left: 10px;
}
.ViewCourseBTN{
  background-color: darkgrey;
  font-size: 11px;
  width: 110%;
  margin-left: 10px;
} */
.Number {
  text-align: center;
  padding-top: 22px;
  color: gray;
  font-size: 60px;
  font-weight: bold;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

div {
  width: 100%;
}

.container {
  margin: 20px;
  width: 500px;
  height: auto;
  perspective: 1000px;
}

.card {
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  width: 275px;
  height: 325px;
}

.attendance-day {
  font-size: 14px;
  text-transform: uppercase;
}

.card1 {
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  width: 250px;
  margin-bottom: 20px;
}

.backflip {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: -6px;
}

.backflip1 {
  display: flex;
  justify-content: space-between;
}

.bcakbtn {
  width: 80px;
  height: 33px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  background-color: #939598;
  font-weight: white;
  color: white;
}

.viewall {
  width: 80px;
  height: 33px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  background-color: #4282be;
  font-weight: white;
  color: white;
  cursor: pointer;
}

.front,
.back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.front1,
.back1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.clickbutton {
  border: 1px solid;
  background-color: white;
  font-size: 12px;
  border-radius: 6px;
  padding: 4px;
  width: 150px;
}

.clickbutton1 {
  border: 2px solid;
  background-color: white;
  font-size: 13px;
  border-radius: 6px;
  padding: 4px;
  width: 150px;
  margin-top: -10px;
  color: #555;
  border-color: #555;
}

.backtext {
  margin-bottom: 11.5rem;
}

.completetext {
  color: #2f87cc;
  font-size: 14px;
}

.back {
  transform: rotateY(180deg);
}

td {
  text-align: center;
  border-right: solid 1px #b5b4b4;
  border-left: solid 1px #b5b4b4;
  border-bottom: solid 1px #b5b4b4;
  border-top: solid 1px #b5b4b4;
  height: 10px;
}

.tdred {
  color: red;
}

.text-center {
  text-align: center;
}

.vertical-middle,
.vertical-middle .table-cell {
  vertical-align: middle;
}

.fixed-layout {
  table-layout: fixed;
}

.table-layout {
  display: table;
  width: 100%;
  height: 13%;
  border-collapse: collapse;
  margin: 3px;
}

.count-size {
  font-size: 14px;
  clear: both;
  font-family: "Poppins";
  color: #555;
  line-height: 20px;
}

.din-regular {
  font-family: "Poppins";
  font-size: 14px;
}

.din-Bold {
  font-family: "Poppins";
  font-size: 14px;
}

.title_outer {
  float: left;
  max-width: 78%;
  padding: 3px 0;
}

.title_outer1 {
  float: left;
  max-width: 98%;
  padding: 3px 0;
}

.card_title {
  font-size: 18px;
  color: #555;
  line-height: 22px;
  margin: 0;
}

.sub-title-small {
  font-weight: lighter;
  font-size: 12px;
  display: block;
  clear: both;
  margin: 5px 0;
}

.backbtn {
  color: #777 !important;
  font-size: 12px;
  font-family: "Poppins";
  line-height: 14px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: 20px;
  right: 20px;
  border-radius: 10px;
  height: 30px;
  width: 80px;
}

.Hiliday_list li {
  display: table-row;
}

.Hiliday_list li:first-child .holidayName_cell {
  border-top: none;
}

.Hiliday_list li .holiday_cell {
  border-top: black;
  vertical-align: middle;
}

.Hiliday_list li .holiday_cell .holiday-icon-sheet,
.Hiliday_list li .holiday_cell .holidayName {
  vertical-align: middle;
}

.holiday-icon-sheet {
  width: 35px;
  height: 35px;
  display: inline-block;
}

li {
  margin-left: 40px;
  float: inline-end;
  display: block;
  margin-top: 10px;
  font-size: 14px;
  width: 80%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.holidayflow {
  flex-flow: column-reverse;
  height: 235px;
  overflow-y: scroll;
}

.cardlabel {
  font-family: "Poppins";
  font-size: 20px;
  margin-top: -1px;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2f87cc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.holidayName {
  color: #777;
  font-size: 16px;
  font-family: "Poppins";
  display: inline-block;
  width: 83%;
  margin-left: 10px;
}

.holiday-date-day-name {
  color: #777;
  font-size: 12px;
  font-family: "Poppins";
  display: block;
  clear: both;
  line-height: 20px;
  margin-left: 40px;
  margin-top: -14px;
}

.count-size {
  font-size: 20px;
  clear: both;
  font-family: "Poppins";
  color: #555;
  line-height: 20px;
}

.din-regular1 {
  font-family: "Poppins";
  font-size: 14px;
}

.leavetble {
  border-right-style: hidden;
  width: 272px;
  border-left-style: hidden;
  margin-top: 10px;
}

.leavetble1 {
  border-right-style: hidden;
  width: 272px;
  border-left-style: hidden;
  margin-top: -10px;
  height: 56px;
}

.count-size {
  font-size: 20px;
  clear: both;
  font-family: "Poppins";
  color: #555;
  line-height: 20px;
}

.name {
  font-family: "Poppins";
  font-size: 13px;
  margin-top: 3px;
  margin-left: -5px;
}

.name1 {
  font-family: "Poppins";
  font-size: 13px;
  margin-top: 3px;
}

.upload {
  margin-left: -19px;
  border-radius: 6px;
  height: 28px;
  background-color: #36acdd;
  color: white;
}

.calend {
  font-size: 30px;
  color: #2f87cc;
  margin-left: -20px;
}

.din-Medium {
  font-family: "Poppins";
  font-size: 13px;
  margin-top: -3px;
}

.din-Medium1 {
  font-family: "Poppins";
  font-size: 11px;
  margin-top: -3px;
}

hr.new4 {
  border: 1px solid whitesmoke;
  width: 230px;
  margin-top: 3px;
}

.anniversary {
  transform: rotate(90deg);
  margin-top: 10px;
  background-color: #36acdd;
  color: white;
  border-top-left-radius: 12px;
}

.newjoinee {
  transform: rotate(90deg);
  width: 149px;
  margin-top: 20px;
  margin-left: -30px;
  background-color: #36acdd;
  color: white;
  border-top-right-radius: 14px;
}

.wish {
  color: #555;
  font-size: 20px;
  margin-top: -40px;
  margin-left: -30px;
}

.wishdate {
  margin-top: -19px;
  margin-left: -21px;
}

.din-regular23 {
  font-family: "Poppins";
  font-size: 11px;
  padding: 5px;
}

.card-img-top {
  height: 120px;
}

.InputBox {
  width: 70%;
  font-size: 12px;
  height: 90%;
  border-radius: 5px;
  border-color: grey;
}

/* .Btn {
  height: 30px;
  width: 30px;
} */

.HRline {
  border: 0;
  border-top: 1.5px solid #ddd9d9;
  margin: 20px 0;
  width: 96%;
  margin-left: 30px;
}

.fixedbutton {
  position: fixed;
  bottom: 560px;
  right: 1000px;
}

.VScroll {
  background-color: white;
  /* height: 1000px; */
  height: auto;
  overflow-y: scroll;
  /* overflow-x: scroll; */
  border: gray;
}

.vertical-menu {
  width: 360px;
  margin-left: 30px;
  font-size: 16px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: black;
  color: white;
}

.FilterBox1 {
  width: auto;
  margin-left: 30px;
  margin-right: 10px;
  margin-top: 10px;
}

.Filter1 {
  margin: 0px;
  text-align: right;
}

.Save {
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: #3247d5;
  border: none;
  float: right;
  margin-bottom: 10px;
  margin-right: 40px;
}
.ShowMore {
  /* padding: 2px; */
  border-radius: 5px;
  color: white;
  background-color: #3247d5;
  border: none;
  margin-left: 10px;
  margin-bottom: 10px;
}

.btn {
  width: 100px;
  font-size: 12px;
  background-color: #3247d5;
  color: white;
  margin-left: -5px;
  height: 28px;
  padding-top: 4px;
  padding-right: 10px;
}
/* .btn2 {
  width: 135%;
  font-size: 13px;
  background-color: #3247d5;
  color: white;
  margin-left: 12px;
  height: 30px;
} */

.CloseBTN {
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: #3247d5;
  border: none;
  float: right;
}
.close {
  background-color: transparent;
  color: black;
}
.box {
  margin-right: 10px;
}

.Category {
  /* margin-left: 45px;
  margin-top: -30px; */

  height: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  letter-spacing: 0.5px;
  color: #0c275a;
  font-family: "Poppins";
  margin-left: 35px;
  width: 100%;
  line-height: 0px;
}
.Heading {
  padding-left: 15px;
  font-size: 20px;
  color: #3247d5;
  font-family: "Poppins";
}
.uppercard {
  padding: 20px;
  width: 100%;
  background: #ffffff;
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}

.FilterBox {
  width: 95%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.filterboxtxt {
  background-color: #3247d5;
  color: white;
}

.Count {
  height: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  letter-spacing: 0.5px;
  color: #0c275a;
  float: right;
}

.count {
  text-align: right;
  margin-right: -20px;
}

.card-footer {
  background: white;
  padding: 10px;
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-text__events {
  padding-bottom: 50px;
}

.card-footer__events {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
}
