<div class="container-fluid" style="background-color: #f2f2f2;">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
        <!-- <div class="col-lg-4" style="text-align: right; padding-top: 15px;">
            <input class="InputBox" type="text" placeholder="What do you want to learn?" name="search">
            <button type="submit" class="Btn">
                <i class="fa fa-search">
            </i></button>
        </div> -->
        <div class="col-lg-4" style="text-align: right; padding-top: 15px;">
            <input class="form-control" type="search" placeholder="What do you want to learn?">
            <!-- <button type="submit" class="Btn">
                <i class="fa fa-search"></i>
            </button> -->
        </div>
    </div><br>

    <div class="row">
        <div class="col-lg-6">
            <h3 style="padding-left: 30px;">Viewing 92 result(s)</h3>
        </div>
        <div class="col-lg-2">
            <h3 class="Filter1">Filter for</h3>
        </div>
        <div class="col-lg-2">
            <input class="form-control" type="search" placeholder="Search for Trainers">
        </div>
        <div class="col-lg-2">
            <input class="form-control" type="date" placeholder="By Dates" id="date" name="date">
        </div>
    </div>
    <hr class="HRline">
    <br>
    <div class="row">
        <div class="col-lg-3 ">
            <div class="row ">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="Category">Select Course Category</h4>
                        </div>
                    </div>
                    <div class="vertical-menu VScroll">
                        <a data-toggle="collapse" class="FilterBox" data-target="#demo" style="background-color: rgb(66, 66, 66); color: white;"> <input
                                type="checkbox" >&nbsp;Management</a>
                        <div id="demo" class="collapse FilterBox1">
                            <a><input class="box" type="checkbox" [(ngModel)]="show" name="show"   (click)="showcards()">&nbsp;Complete Digital Marketing</a>
                            <a><input class="box" type="checkbox" [(ngModel)]="show1" name="show1" (click)="showcards()">&nbsp;Online Business Development</a>
                            <a><input class="box" type="checkbox" [(ngModel)]="show2" name="show2" (click)="showcards()">&nbsp;Digital Marketing Social Media SEO</a>
                            <a><input class="box" type="checkbox" [(ngModel)]="show3" name="show3" (click)="showcards()">&nbsp;Product Management and Marketing</a>
                        </div>
                        <a data-toggle="collapse" class="FilterBox " data-target="#demo1" style="background-color: rgb(66, 66, 66); color: white;"><input
                                type="checkbox">&nbsp;Development</a>
                        <div id="demo1" class="collapse FilterBox1">
                            <a><input type="checkbox" [(ngModel)]="show" name="show"   (click)="showcards()">&nbsp;Complete Python</a>
                            <a><input type="checkbox" [(ngModel)]="show1" name="show1"   (click)="showcards()">&nbsp;Web Developer Bootcamp</a>
                            <a><input type="checkbox" [(ngModel)]="show2" name="show2"   (click)="showcards()">&nbsp;Machine learning </a>
                            <a><input type="checkbox" [(ngModel)]="show3" name="show3"   (click)="showcards()">&nbsp;Java Programming</a>
                            <a><input type="checkbox" [(ngModel)]="show4" name="show4"   (click)="showcards()">&nbsp;Angular</a>
                        </div>
                        <a data-toggle="collapse" class="FilterBox" data-target="#demo2" style="background-color: rgb(66, 66, 66); color: white;"> <input type="checkbox">&nbsp;IT and
                            Software </a>
                        <div id="demo2" class="collapse FilterBox1">
                            <a><input type="checkbox">&nbsp;Ethical Hacking From Scratch</a>
                            <a><input type="checkbox">&nbsp;Aws Certified Solutions</a>
                            <a><input type="checkbox">&nbsp;Cyber Security</a>
                            <a><input type="checkbox">&nbsp;Linux</a>
                        </div>
                        <a data-toggle="collapse" class="FilterBox" data-target="#demo3" style="background-color: rgb(66, 66, 66); color: white;"> <input
                                type="checkbox">&nbsp;Business Courses</a>
                        <div id="demo3" class="collapse FilterBox1">
                            <a><input type="checkbox">&nbsp;The Complete Digital Marketing</a>
                            <a><input type="checkbox">&nbsp;Online business</a>
                            <a><input type="checkbox">&nbsp;Digital Marketing Instagram</a>
                            <a><input type="checkbox">&nbsp;Product Management and Marketing</a>
                        </div>
                        <a data-toggle="collapse" class="FilterBox" data-target="#demo4" style="background-color: rgb(66, 66, 66); color: white;"> <input
                                type="checkbox">&nbsp;English Course</a>
                        <div id="demo4" class="collapse FilterBox1">
                            <a><input type="checkbox">&nbsp;The Complete Digital Marketing</a>
                            <a><input type="checkbox">&nbsp;Online business</a>
                            <a><input type="checkbox">&nbsp;Digital Marketing Instagram</a>
                            <a><input type="checkbox">&nbsp;Product Management and Marketing</a>
                        </div>
                        <a data-toggle="collapse" class="FilterBox" data-target="#demo5" style="background-color: rgb(66, 66, 66); color: white;"> <input
                                type="checkbox">&nbsp;French Courses</a>
                        <div id="demo5" class="collapse FilterBox1">
                            <a><input type="checkbox">&nbsp;The Complete Digital Marketing</a>
                            <a><input type="checkbox">&nbsp;Online business</a>
                            <a><input type="checkbox">&nbsp;Digital Marketing Instagram</a>
                            <a><input type="checkbox">&nbsp;Product Management and Marketing</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <!-- <div class="row">
                <div class="col-lg-12" style="margin-left: 52px;">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card1" style="background-color: white; height: 325px;width: 250px;">
                                <img class="card-img-top" src="/assets/Images/course1.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title"><b>Active listening and Customer Satisfaction</b></h5>
                                    <p class="card-text">Active Listening for increasing customer satisfaction and
                                        effectively
                                        maste....</p><br>
                                    <button routerLink="/StartMyCourse" class="btn" id="fixedbutton">START
                                        COURSE</button>&nbsp;&nbsp;
                                    <button routerLink="/ViewCourse" class="btn" id="fixedbutton">VIEW COURSE</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card1" style="background-color: white; height: 325px;width: 250px;">
                                <img class="card-img-top" src="/assets/Images/course2.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title"><b>2016 SPi Global Overview</b></h5>
                                    <p class="card-text">2016 SPi Global VMV</p><br><br>
                                    <button routerLink="/StartMyCourse" class="btn" id="fixedbutton">START
                                        COURSE</button>&nbsp;&nbsp;
                                    <button routerLink="/ViewCourse" class="btn" id="fixedbutton">VIEW COURSE</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card1" style="background-color: white; height: 325px;width: 250px;">
                                <img class="card-img-top" src="/assets/Images/course1.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title"><b>Active Listening to Boost Sales </b></h5>
                                    <p class="card-text">Active listening for boosting sales and avoiding passive
                                        listening.</p><br>
                                    <button class="btn" data-toggle="modal"
                                        data-target="#enroll">ENROLL</button>&nbsp;&nbsp;
                                    <button routerLink="/ViewCourse" class="btn">VIEW COURSE</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card1" style="background-color: white; height: 325px;width: 250px;">
                                <img class="card-img-top" src="/assets/Images/course3.png" alt="Card image cap"
                                    style="height: 120px;">
                                <div class="card-body">
                                    <h5 class="card-title"><b>Adaptive skills</b></h5><br>
                                    <p class="card-text">Developing Adaptive skills for coping with stressful situations
                                    </p><br>
                                    <button class="btn" data-toggle="modal"
                                        data-target="#enroll">ENROLL</button>&nbsp;&nbsp;
                                    <button routerLink="/ViewCourse" class="btn">VIEW COURSE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br><br><br> -->

            <div class="row" *ngIf="showfullcards==1">
                <div class="col-lg-12" style="margin-left: 52px;">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card1" style="background-color: white; height: 325px;width: 250px;">
                                <img class="card-img-top" src="/assets/Images/course1.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title"><b>Complete Digital Marketing Course </b>
                                    </h5>
                                    <p class="card-text">Complete Digital Marketing Course, Which includes Social Media SEO and Pages...</p><br>
                                    <button class="btn" data-toggle="modal"
                                        data-target="#enroll">ENROLL</button>&nbsp;&nbsp;
                                    <button routerLink="/ViewCourse" class="btn">VIEW COURSE</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3" >
                            <div class="card1" style="background-color: white; height: 325px;width: 250px;">
                                <img class="card-img-top" src="/assets/Images/Course9.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title"><b>Online Business Development Course</b></h5>
                                    <p class="card-text">Online Complete Business Development Course, Which includes BDA & its...</p><br>
                                        <button class="btn" data-toggle="modal"
                                        data-target="#enroll">ENROLL</button>&nbsp;&nbsp;
                                    <button routerLink="/ViewCourse" class="btn">VIEW COURSE</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3" >
                            <div class="card1" style="background-color: white; height: 325px;width: 250px;">
                                <img class="card-img-top" src="/assets/Images/Course7.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title"><b>Digital Marketing Social Media SEO Course</b></h5>
                                    <p class="card-text">Cpmplete Digital Marketing Social Media SEO Course, Which includes web pages Optimization & its...</p>
                                    <button class="btn" data-toggle="modal"
                                        data-target="#enroll">ENROLL</button>&nbsp;&nbsp;
                                    <button routerLink="/ViewCourse" class="btn">VIEW COURSE</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3" >
                            <div class="card1" style="background-color: white; height: 325px;width: 250px;">
                                <img class="card-img-top" src="/assets/Images/Course8.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title"><b>Product Management and Marketing Course</b></h5>
                                    <p class="card-text">Cpmplete Product Management and Marketing Course, Which includes marketing &...</p>
                                    <button class="btn" data-toggle="modal"
                                        data-target="#enroll">ENROLL</button>&nbsp;&nbsp;
                                    <button routerLink="/ViewCourse" class="btn">VIEW COURSE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12" style="margin-left: 52px;">
                    <div class="row">
                        <div class="col-lg-3" *ngIf="show==1">
                            <div class="card1" style="background-color: white; height: 325px;width: 250px;">
                                <img class="card-img-top" src="/assets/Images/course1.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title"><b>Complete Digital Marketing Course </b>
                                    </h5>
                                    <p class="card-text">Complete Digital Marketing Course, Which includes Social Media SEO and Pages...</p><br>
                                    <button class="btn" data-toggle="modal"
                                        data-target="#enroll">ENROLL</button>&nbsp;&nbsp;
                                    <button routerLink="/ViewCourse" class="btn">VIEW COURSE</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3" *ngIf="show1==1">
                            <div class="card1" style="background-color: white; height: 325px;width: 250px;">
                                <img class="card-img-top" src="/assets/Images/Course9.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title"><b>Online Business Development Course</b></h5>
                                    <p class="card-text">Online Complete Business Development Course, Which includes BDA & its...</p><br>
                                        <button class="btn" data-toggle="modal"
                                        data-target="#enroll">ENROLL</button>&nbsp;&nbsp;
                                    <button routerLink="/ViewCourse" class="btn">VIEW COURSE</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3" *ngIf="show2==1">
                            <div class="card1" style="background-color: white; height: 325px;width: 250px;">
                                <img class="card-img-top" src="/assets/Images/Course7.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title"><b>Digital Marketing Social Media SEO Course</b></h5>
                                    <p class="card-text">Cpmplete Digital Marketing Social Media SEO Course, Which includes web pages Optimization & its...</p>
                                    <button class="btn" data-toggle="modal"
                                        data-target="#enroll">ENROLL</button>&nbsp;&nbsp;
                                    <button routerLink="/ViewCourse" class="btn">VIEW COURSE</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3" *ngIf="show3==1">
                            <div class="card1" style="background-color: white; height: 325px;width: 250px;">
                                <img class="card-img-top" src="/assets/Images/Course8.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title"><b>Product Management and Marketing Course</b></h5>
                                    <p class="card-text">Cpmplete Product Management and Marketing Course, Which includes marketing &...</p>
                                    <button class="btn" data-toggle="modal"
                                        data-target="#enroll">ENROLL</button>&nbsp;&nbsp;
                                    <button routerLink="/ViewCourse" class="btn">VIEW COURSE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br><br><br>

            <!-- <div class="row">
                <div class="col-lg-12" style="margin-left: 52px;">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card1" style="background-color: white; height: 325px;width: 250px;">
                                <img class="card-img-top" src="/assets/Images/Course9.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title"><b>assess.new.01</b></h5><br>
                                    <p class="card-text">Description</p><br><br>
                                    <button routerLink="/StartMyCourse" class="btn">START COURSE</button>&nbsp;&nbsp;
                                    <button routerLink="/ViewCourse" class="btn">VIEW COURSE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br><br><br> -->
            <div class="row" *ngIf="show==4" >
                <div class="col-lg-12" style="text-align: center;">
                    <button class="ShowMore">Show more</button>
                </div>
            </div>
        </div>
    </div>
</div>





<div id="enroll" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Enroll for Course</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text">Name:</label>
                    </div>
                    <div class="col-lg-5">
                        <!-- <select class="form-control" [(ngModel)]="Hired">
                            <option value="">Select </option>
                            <option>Yes</option>  
                            <option>No</option> 
                        </select> -->
                        <input class="form-control" name="NoofpositionsHired" id="NoofpositionsHired"
                            placeholder="Peeter Ferin" disabled>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text" style="font-weight: bold;">Phone No:</label>
                    </div>
                    <div class="col-lg-5">
                        <input class="form-control" name="NoofpositionsHired" id="NoofpositionsHired"
                            placeholder="9843873473" disabled>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text" style="font-weight: bold;">Email:</label>
                    </div>
                    <div class="col-lg-5">
                        <input class="form-control" name="NoofpositionsHired" id="NoofpositionsHired"
                            placeholder="Ferin123@gmail.com" disabled>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-2">
                        <button class="form-control Save" (click)="enroll()">Enroll</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <hr>
                <div class="col-lg-2">
                    <button data-dismiss="modal" class="CloseBTN">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>