<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-10">
                    <p class="Heading">Employee Form</p>
                </div>
            </div>
            <div class="card">
                <div class="row leavereq">
                    <div class="col-lg-2">
                        <p class="newFont">Emp ID <span style="color: red;">*</span></p>
                    </div>
                    <div class="col-lg-2">
                        <p class="newFont">Emp Name <span style="color: red;">*</span></p>
                    </div>
                    <div class="col-lg-2">
                        <p class="newFont">Designation<span style="color: red;">*</span></p>
                    </div>
                    <div class="col-lg-2">
                        <p class="newFont">Phone Number<span style="color: red;">*</span></p>
                    </div>
                    <div class="col-lg-2">
                        <p class="newFont">Email ID <span style="color: red;">*</span></p>
                    </div>
                    <!-- <div class="col-lg-3">
                        <p class="newFont">Address <span style="color: red;">*</span> </p>
                    </div>
                    <div class="col-lg-2">
                        <p class="newFont">Year of Experience<span style="color: red;">*</span> </p>
                    </div> -->
                </div>
                <div class="row leavereq">
                    <div class="col-md-2">
                        <input class="form-control inputfield" placeholder="Emp ID">
                    </div>
                    <div class="col-md-2">
                        <input class="form-control inputfield" placeholder="Emp Name">
                    </div>
                    <div class="col-md-2">
                        <input class="form-control inputfield" placeholder="Designation">
                    </div>
                    <div class="col-md-2">
                        <input class="form-control inputfield" placeholder="Phone Number">
                    </div>
                    <div class="col-md-2">
                        <input class="form-control inputfield" placeholder="Email ID">
                    </div>
                    <!-- <div class="col-md-2">
                        <textarea class="form-control inputfield" placeholder="Address"></textarea>
                    </div>
                    <div class="col-md-2">
                        <input class="form-control inputfield" placeholder="Year of Experience">
                    </div> -->
                </div>
                <div class="row leavereq">
                    <div class="col-lg-2">
                        <p class="newFont">Address <span style="color: red;">*</span> </p>
                    </div>
                    <div class="col-lg-2">
                        <p class="newFont">Year of Experience<span style="color: red;">*</span> </p>
                    </div>
                </div>
                <div class="row leavereq">
                    <!-- <div class="col-md-2">
                        <ngx-dropzone (change)="onSelect($event)" style="height: 60px;">
                            <ngx-dropzone-label>Drop it here!</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div> -->
                    <div class="col-md-2">
                        <input class="form-control inputfield" placeholder="EAddress">
                    </div>
                    <div class="col-md-2">
                        <input class="form-control inputfield" placeholder="Mention in years">
                    </div>
                </div>
                <br> 
                <div class="row">
                    <div class="col-lg-9"></div>
                    <div class="col-lg-1">
                        <button class="form-control " (click)="cancel()">Cancel</button>
                    </div>
                    <div class="col-lg-1">
                        <button class="form-control button1">Save</button>
                        <!-- <button class="form-control button1"  *ngIf="id==null || id==undefined" (click)="Save()">Save</button>    
                     <button class="form-control button1"  *ngIf="id!=null || id!=undefined" (click)="Update()">Update</button>    -->
                    </div>
                    <div class="col-lg-1"></div>
                </div><br>
            </div> <br>
        </div>
    </div>
</div>
