.Job{
    color:gray;
    padding-left: 10px;
    font-size: 18px;
    padding-top: 20px;
    font-weight: 400;
  }
  .search{
    margin-left: 10px;
  }
  
  .newFont{
   
    color:black;
    width:100%;
    vertical-align: middle;
  }
 
  th {
    background-color: #02cfff !important;
    color: #ffffff;
  }

  .Heading{
    padding-left: 15px;
    font-size: 20px;
    color: #3247D5; font-family: 'Poppins';
    }
  .head{
    font-family: 'Poppins';
  }
  .FilterClass{
  padding-left: 15px;
  }
  .count {
    text-align: right;
    padding-right: 10px;
  }
    .Button{
      background-color: #007bff;
      color:white;
      padding:5px;
      text-align: center;
      width:100%;
      height:auto;
      border:none;
      border-radius: 5px;
    }
    .selected{
      padding:5px;
      border-radius: 5px;
      border:none;
      color:white;
      background-color:#007bff ;
    }
    .rejected{
      padding:5px;
      border-radius: 5px;
      border:none;
      color:white;
      background-color:red ;
    }
    /* .count{
      font-size: 16px;
    } */

    .underlinetext
{
  text-decoration: 3px solid rgb(72, 83, 238) underline;
  color: rgb(72, 83, 238);
  height: 4px;
}
.underlinetext li a:hover {
  text-decoration: 3px solid rgb(72, 83, 238) underline;
  color:   rgb(72, 83, 238)
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: left;
}

li  {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  text-decoration: 3px solid rgb(72, 83, 238) underline;
  color:   rgb(72, 83, 238)
}
.underlinetext
{
  text-decoration: 3px solid rgb(72, 83, 238) underline;
  color: rgb(72, 83, 238);
  height: 4px;
}
.underlinetext li a:hover {
  text-decoration: 3px solid rgb(72, 83, 238) underline;
  color:   rgb(72, 83, 238)
}
.card{
  width:100%;
  background: #FFFFFF;
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}
.head{
  font-family: 'Poppins';
}

.NoResultShow {
  color: #0c275a;
  font-size: 19px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  margin-left: 38px;
}

FilterClass {
  padding-left: 15px;
}