<div class="container-fluid">
    <!-- <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <p class="Heading">Manager Dashboard</p>
                    <p class="Heading" style="font-size: 14px;">Course Enrollment Requests:</p>
                </div>
            </div> <br>
        </div>
    </div> -->

    <div class="row">
        <div class="col-lg-10">
            <p class="headings">Manager Dashboard</p>
        </div>
        <div class="col-lg-2">
            <p class="count">Count :{{count}}</p>
        </div>
    </div>
    <div class="row">
        <p class="Heading" style="font-size: 14px;">Course Enrollment Requests:</p>
    </div>

    <div class="card"><br>
        <div class="row FilterClass">
            <div class="col-lg-1">
                <p class="filter">Filter By</p>
            </div>
            <div class="col-lg-3">
                <input class="form-control" placeholder="Search" [(ngModel)]="search">
            </div>
            <div class="col-lg-3">
                <select class="form-control" name="cars" id="Duration" (change)="staffid($event)">
                    <option value="0">Select Employee</option>
                    <option *ngFor="let details of result | filter: search" value="{{details.id}}">{{details.employeeName}}
                    </option>
                </select>
            </div>
            <!-- <div class="col-lg-3"></div>
            <div class="col-lg-2">
                <p class="count">Count :{{count}}</p>
            </div> -->
        </div> <br>
    </div><br>
    <div class="row head">
        <div class="col-lg-8 View ">
            <ul>
                <li [ngClass]="{'underlinetext': show=='2'}"><a class="active " (click)="Showcards(2)">
                        <ul>New Requests</ul>
                    </a></li>
                <li [ngClass]="{'underlinetext': show=='1'}"><a class="active" (click)="Showcards(1)">Approved
                    </a></li>
                <li [ngClass]="{'underlinetext': show=='3'}"><a class="active" (click)="Showcards(3)">Rejected</a>
                </li>

            </ul>
        </div>
    </div> <br>

    <div class="row head">
        <div class="col-lg-12">
            <table class="table" *ngIf="(result | filter: search).length > 0; else noResults">
                <thead>
                    <tr>
                        <th>Employee Name</th>
                        <th>Phone No</th>
                        <th>Email</th>
                        <th>Course Name</th>
                        <th>Request sent date</th>
                        <th>Action</th>
                    </tr>
                    <tr *ngFor="let details of result | filter : search">
                        <td>{{details.employeeName}}</td>
                        <td>{{details.phoneNo}}</td>
                        <td>{{details.email}}</td>
                        <td>{{details.name}}</td>
                        <td>{{details.modifiedDate|date}}</td>
                        <td>
                            <p *ngIf="details.status=='Manager Approved'||details.status=='Manager Rejected'">
                                {{details.status}}</p>
                            <button *ngIf="details.status=='Manager Pending'" class="btn btn-primary addbtn"
                                data-toggle="modal" data-target="#exampleModal"
                                (click)="getid(details.id)">Approve</button> <br><br>
                            <button *ngIf="details.status=='Manager Pending'" class="btn btn-primary"
                                style="background-color:#dc3545; border:none; width:92%;" (click)="getid(details.id)"
                                data-toggle="modal" data-target="#Reject">Reject</button>
                        </td>
                    </tr>
                </thead>
            </table>
            <ng-template #noResults>
                <p class="NoResultShow">no results found for "{{search}}" </p>
            </ng-template>
        </div>
    </div>



</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:700px">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Approval Notes </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <label style="font-size: 16px;">Approval Notes</label>
                    </div>
                    <div class="col-lg-6">
                        <textarea class="form-control" placeholder="Notes" rows="5"></textarea>
                        <!-- <select class="form-control" (change)="GetStaffID($event)">
                              <option value="">Select</option>
                              <option *ngFor="let staff of stafflist" value="{{staff.id}}">{{staff.name}}</option>
                          </select> -->
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-2">
                        <button class="btn btn-primary"
                            style="background-color:#007bff; border:none;  margin-left: 10%;"
                            (click)="Acceptcandidate()" data-dismiss="modal">Approve</button>
                    </div>
                </div> <br>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Reject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:700px">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rejection Notes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <label style="font-size: 16px;">Rejected Notes</label>
                    </div>
                    <div class="col-lg-6">
                        <textarea class="form-control" placeholder="Notes"></textarea>
                        <!-- <select class="form-control" (change)="GetStaffID($event)">
                              <option value="">Select</option>
                              <option *ngFor="let staff of stafflist" value="{{staff.id}}">{{staff.name}}</option>
                          </select> -->
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-2">
                        <button class="btn btn-primary "
                            style="background-color:#dc3545; border:none ; margin-left: 10%;"
                            (click)="Rejecttcandidate()" data-dismiss="modal">Rejected</button>
                    </div>
                </div> <br>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</div>