
<div class="container-fluid">
    <div class="row">
        <div 
            style="position:absolute;left:50%;margin-left:-420px;top:0px;width:841px;height:595px;border-style:outset;overflow:hidden">
            <div style="position:absolute;left:0px;top:0px">
                <img src="assets/Images/background1.jpg" width=841 height=595>
            </div>
            <div style="position:absolute;left:250.35px;top:76.00px" class="cls_003"><span
                    class="cls_003">CERTIFICATE</span></div>
            <div style="position:absolute;left:272.13px;top:135.14px" class="cls_004"><span class="cls_004">OF
                    APPRECIATION</span></div>
            <div style="position:absolute;left:242.02px;top:191.99px" class="cls_002"><span class="cls_002">THIS
                    CERTIFICATE IS PROUDLY PRESENTED TO</span></div>
            <div style="position:absolute;left:345.97px;top:269.16px" class="cls_005"><span
                    class="cls_005">{{certificate[0].employeeName}}</span></div>
            <div style="position:absolute;left:183.19px;top:337.78px" class="cls_006"><span class="cls_006">For
                    Completing 3 Months {{certificate[0].courseName}} Online Course with 65% </span></div>
            <div style="position:absolute;left:164.05px;top:352.18px" class="cls_006"><span class="cls_006"></span>
            </div>
            <div style="position:absolute;left:586.99px;top:449.57px" class="cls_006"><span class="cls_006">
                    <img style="width:53px;height:auto" src="assets/Images/sign.png"> </span></div>
            <div style="position:absolute;left:128.99px;top:452.57px;" class="cls_006"><span
                    class="cls_006">{{certificate[0].completionDate}} </span></div>
            <div style="position:absolute;left:150.05px;top:492.82px" class="cls_007"><span class="cls_007">DATE
                </span>
            </div>
            <div style="position:absolute;left:556.76px;top:492.82px" class="cls_007"><span
                    class="cls_007">SIGNATURE</span></div>
        </div>
    </div>
</div>