<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10">
            <p class="headings">Timetable </p>
        </div>
        <div class="col-lg-2">
            <!-- <p class="count">Count: 3</p> -->
        </div>
    </div>

    <div class="card">
        <br>
        <div class="row FilterClass ">
            <div class="col-lg-1">
                <p class="filter">Filter By </p>
            </div>
            <!-- <div class="col-lg-3">
                <select class="form-control " id="Duration">
                    <option class="FilterClass" value="0">Select Center</option>
                    <option class="FilterClass" value="0">Center 1</option>
                    <option class="FilterClass" value="0">Center 2</option>
                </select>
            </div> -->
            <div class="col-lg-3">
                <select class="form-control " id="Duration">
                    <option class="FilterClass" value="0">Select Course</option>
                    <option value="1">Physics</option>
                    <option value="2">Chemisty</option>
                    <option value="3">English</option>
                </select>
            </div>
            <div class="col-lg-5">
                <input type="search" class="form-control search" placeholder="Search for Course">
            </div>
        </div><br>
    </div> <br>
    <div class="row">
        <div class="col-lg-9"></div>
        <div class="col-lg-3">
            <!-- <button class="addnew" routerLink="/Course">Add</button> -->
        </div>
    </div> <br>



    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12" style="overflow: auto;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Course Name</th>
                            <th>Subject Name</th>
                            <th>Day</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Staff Name</th>
                        </tr>
                        <tr>
                            <td>
                                <p>PUC</p>
                            </td>
                            <td>
                                <p>Physics</p>
                            </td>
                            <td>
                                <p>Monday</p>

                            </td>
                            <td>
                                <p>10:00 AM</p>
                            </td>
                            <td>
                                <p>11:00 AM</p>
                            </td>
                            <td>
                                <p>Arjun</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>PUC</p>
                            </td>
                            <td>
                                <p>English</p>
                            </td>
                            <td>
                                <p>Tuesday</p>

                            </td>
                            <td>
                                <p>11:00 AM</p>
                            </td>
                            <td>
                                <p>12:00 AM</p>
                            </td>
                            <td>
                                <p>Arjun</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>PUC</p>
                            </td>
                            <td>
                                <p>Maths</p>
                            </td>
                            <td>
                                <p>Wednesday</p>

                            </td>
                            <td>
                                <p>12:00 AM</p>
                            </td>
                            <td>
                                <p>01:00 PM</p>
                            </td>
                            <td>
                                <p>Arjun</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>PUC</p>
                            </td>
                            <td>
                                <p>Chemisty</p>
                            </td>
                            <td>
                                <p>Thursday</p>

                            </td>
                            <td>
                                <p>10:00 AM</p>
                            </td>
                            <td>
                                <p>11:00 AM</p>
                            </td>
                            <td>
                                <p>Arjun</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>PUC</p>
                            </td>
                            <td>
                                <p>Physics</p>
                            </td>
                            <td>
                                <p>Friday</p>

                            </td>
                            <td>
                                <p>10:00 AM</p>
                            </td>
                            <td>
                                <p>11:00 AM</p>
                            </td>
                            <td>
                                <p>Arjun</p>
                            </td>
                        </tr>

                        <!-- <tr *ngFor="let details of result | filter: search">
                            <td>{{details.categoryName}}</td>
                            <td>{{details.name}}</td>

                            <td>
                                <span [innerHTML]="details.coursedescription"></span>
                                <span style="color:#3247D5;    float: right;
                                 " data-toggle="modal" data-target="#exampleModal3"
                                    (click)="view(details.description)">....View More</span>
                            </td>

                            <td>
                                <img (click)="clickonimage(details.photo)" data-toggle="modal"
                                    data-target="#exampleModal" src="{{details.photo}}" width="50%" height="auto">
                            </td>
                            <td>{{details.duration}}</td>
                            <td>{{details.fee}}</td>
                            <td>{{details.entryCriteria}}</td>
                            <td>{{details.exitCriteria}}</td>
                            <td style="width:100px">
                                <img src="assets/Images/Edit_ICON.png" alt="Edit_ICON" style="width:20px; height:auto"
                                    (click)="Update(details.id)"> &nbsp;&nbsp;

                                <img src="assets/Images/Delete_ICON.png" alt="Delete_ICON"
                                    (click)="Ondelete(details.id)" style="width:20px; height:auto">
                            </td>
                        </tr> -->
                    </thead>
                </table>
            </div>
        </div>
    </div>

</div>
<div id="enroll1" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="text-align: left;    margin-left: 123px;
        width: 550px;
        text-align: left;">
            <div class="modal-header" style="text-align: left;">
                <h4 class="modal-title">Substitute Staff</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-left: 0px;">
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-2">
                        <p>Date:</p>
                    </div>
                    <div class="col-lg-5">
                        <input type="date" id="date" name="date" class="form-control">
                    </div>

                </div>
                <br>
                <div class="row" style="margin-left: 0px;">
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-2">
                        <p>Staff:</p>
                    </div>
                    <div class="col-lg-5">
                        <select class="form-control" name="cars" id="Duration">
                            <option value="0">Select Staff</option>
                            <option value="0">Arjun</option>
                            <option value="0">Samir</option>
                            <option value="0">Pravin</option>
                            <option value="0">Sachin</option>
                            <option value="0">Dilip</option>

                        </select>
                    </div>

                </div>
                <br>
                <br>
                <div class="row" style="margin-left: 0px;">
                    <div class="col-lg-4">

                    </div>
                    <div class="col-lg-4">
                        <button class="form-control cancel">Substitute</button>
                    </div>
                    <div class="col-lg-4">

                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <hr>

            </div>
        </div>
    </div>
</div>


<!-- 
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8">
                        <br>
                        <img src="{{image}}" style="width:100%;height:auto;">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               
            </div>
        </div>
    </div>
</div> -->


<!-- <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-size: 19px;color:#3247D5">Description</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12" style="color:#0C275A ;font-size: 13px;">
                        <p [innerHTML]="description"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-lg-9"></div>
               
            </div>
        </div>
    </div>
</div> -->