<div class="container-fluid">
    <div class="row">      
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-10">
                    <p class="headings">Employee Assessment Results</p>
                </div>
                <div class="col-lg-2">
                    <p class="count">Count:{{detailslist.length}}</p>
                </div>
            </div> 
            <div class="card"><br>
                <div class="row ">
                    <div class="col-lg-1" style="margin-left: 10px;">
                        <p class="filter">Filter By</p>
                    </div>
                    <!-- <div class="col-lg-3">
                        <select class="form-control search" name="cars" id="Duration" (change)="staffid($event)">
                            <option value="0">Select Department</option>
                            <option *ngFor="let details of result" value="{{details.id}}">{{details.department}}
                            </option>
                        </select> 
                    </div> -->
                    <div class="col-lg-3">
                        <input type="month" class="form-control search" placeholder="Search" [(ngModel)]="search">
                    </div>
                    <div class="col-lg-3">
                        <input class="form-control search" placeholder="Search" [(ngModel)]="search">
                    </div>
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-3"></div>
                    <div class="col-lg-2">
                    </div>
                </div> <br>
            </div><br>
            <div class="row">
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table" *ngIf="(result | filter: search).length > 0; else noResults">
                        <thead>
                            <tr>
                                <th>Employee Name</th>
                                <th>Course Name</th>
                                <th>Assigned Date</th>
                                <th>Course Start Date</th>
                                <th>Course End Date</th>
                                <th>Percentage</th>
                                <th>Certificate</th>
                            </tr>

                             <tr *ngFor="let details of detailslist|filter:search">
                                <td>{{details.staffname}}</td>
                                <td>{{details.coursename}}</td>
                                <td></td>
                                <td>{{details.startDate}}</td>
                                <td>{{details.endDate}}</td>
                                <td></td>
                                <td>
                                    <button class="viewcertificate" routerLink="/CourseCertificate">ViewCertificate</button>
                                </td>                           
                            </tr> 
                        </thead>
                    </table>
                    <ng-template #noResults>
                        <p class="NoResultShow">No results found for "{{search}}" </p>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Test Details</h4>

                <button (click)="getdetailslist1()" data-toggle="modal" data-target="#Certificate"
                    class="btn btn-primary button2">View Certificate
                </button><br>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table>
                            <tr>
                                <th>Course Name</th>
                                <th>Chapter Name</th>
                                <th>Total Marks</th>
                                <th>Obtained Marks</th>
                                <th>Result</th>

                            </tr>
                            <tr *ngFor="let list of detailslist">
                                <td>{{list.coursename}}</td>
                                <td>{{list.chaptername}}</td>
                                <td>{{list.totalmarks}}</td>
                                <td>{{list.obtainedMarks}}</td>
                                <td>{{list.testResult}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<div class="modal" id="Certificate">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Allote Certificate</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">Course</div>
                    <div class="col-lg-4">
                        <select class="form-control" name="courseID" [(ngModel)]="courseID">
                            <option value="0">Course Name</option>
                            <option *ngFor="let details of courselist" value="{{details.id}}">{{details.name}}</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-3">Total Marks</div>
                    <div class="col-lg-4">
                        <input type="text" id="TotalMarks" name="TotalMarks" [(ngModel)]="TotalMarks"
                            placeholder="Total Marks" class="form-control">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-3">Marks Obtained</div>
                    <div class="col-lg-4">
                        <input type="text" id="MarksObtained" name="MarksObtained" [(ngModel)]="MarksObtained"
                            placeholder="Marks Obtained" class="form-control">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-4">
                        <button (click)="AllocateCertificate()" class="btn btn-primary ">Allote Certificate
                        </button><br>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>




<div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Test Details</h4>
                <button (click)="getdetailslist1()" data-toggle="modal" data-target="#Certificate"
                    class="btn btn-primary button2">View Certificate
                </button><br>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table>
                            <tr>
                                <th>Course Name</th>
                                <th>Chapter Name</th>
                                <th>Total Marks</th>
                                <th>Obtained Marks</th>
                                <th>Result</th>
                            </tr>
                            <tr *ngFor="let list of detailslist">
                                <td>{{list.coursename}}</td>
                                <td>{{list.chaptername}}</td>
                                <td>{{list.totalmarks}}</td>
                                <td>{{list.obtainedMarks}}</td>
                                <td>{{list.testResult}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>