<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-12">
                    <p class="Heading">Manager Dashboard</p><br>
                    Course Enrollment Requests:
                    <hr class="HrLine">
                </div>
            </div> <br>

            <div class="card"><br>
                <div class="row FilterClass">
                    <div class="col-lg-1">
                        Filter By
                    </div>
                    <div class="col-lg-3">
                        <input class="form-control" placeholder="Search" [(ngModel)]="search">
                    </div>
                    <div class="col-lg-3">
                        <select class="form-control" name="cars" id="Duration" (change)="staffid($event)">
                            <option value="0">Select Employee</option>
                            <option *ngFor="let details of result" value="{{details.id}}">{{details.employeeName}}
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-3"></div>
                    <div class="col-lg-2">
                        <p class="count">Count :{{count}}</p>
                    </div>
                </div> <br>
            </div><br>
            <div class="row">

            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table tablebordered">
                        <thead>
                            <tr class="head">
                                <th>Employee Name</th>
                                <th>Phone No</th>
                                <th>Email</th>
                                <th>Course Name</th>
                                <th>Obtained Marks</th>
                                <th>Result</th>
                                <th>Action</th>
                            </tr>
                            <tr>
                                <td>Kumar </td>
                                <td>9975766322</td>
                                <td>kumar@amazeinc.in</td>
                                <td>Andriod Develpoment</td>
                                <td>13</td>
                                <td>Pass</td>
                                <td>
                                    <button data-toggle="collapse" (click)="getdetailslist()" data-target="#demo"
                                        class="btn btn-primary">view Answered
                                        Sheet</button><br>

                                </td>
                            </tr>
                        </thead>
                    </table>
                    <ng-template #noResults>
                        <p>no results found for "{{search}}" </p>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
<div class="row rowwidth" id="demo" class="collapse">
    <div class="row">
        <div class="col-lg-12">
            <table>
                <tr>
                    <th>Question</th>
                    <th>Correct Answer</th>
                    <th>User Answer</th>
                    <th>Weightage</th>

                </tr>
                <tr *ngFor="let list of detailslist">

                    <td>{{list.question}}</td>
                    <td>{{list.correctAnswer}}</td>
                    <td>{{list.userAnswer}}</td>
                    <td>{{list.weightage}}</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- <div class="col-lg-8 colwidth" *ngFor="let item of detailslist">
        <p>Q1. {{item.question}}</p> <br>
        <p>Correct Answer {{item.correctAnswer}}</p> <br>
        <p>User Answer {{item.userAnswer}}</p>
    </div> -->
</div>