<br>
<div class="container-fluid">
 <div class="row">
     <div class="col-lg-8">
         <p style="margin-left:20px; font-size: 18px;">Learning Path</p>
     </div>
     <div class="col-lg-4">
         <input class="form-control" placeholder="Search">
     </div>
     </div> <hr class="tagline">
    <div class="row">
        <div class="col-lg-3">
            <div class="col-lg-3">
                <div class="card1" style="background-color: white; height:290px;width: 350px; border-radius: 10px;">
                    <img class="card-img-top" src="/assets/Images/course1.png" alt="Card image cap">
                    <div class="card-body">
                        <div class="row">
                            <h6 class="card-title">Active listening and Customer Satisfaction</h6>
                        </div> <br>
                        <div class="row">
                            <div class="col-lg-6">
                                <!-- <button href="#" class="btn" style="font-size: 12px; width:100px;">START
                                    COURSE</button> -->
                                <button href="#" routerLink="/StartMyCourse" type="button"
                                    class="btn btn-outline-secondary">Start
                                    Course</button>
                            </div>
                            <div class="col-lg-6">
                                <!-- <button routerLink="/ViewCourse" class="btn" style="font-size: 12px; width:100px;">VIEW
                                    COURSE</button> -->
                                <button type="button" routerLink="/LearningPathDetails" class="btn btn-outline-secondary">View
                                    Course</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
