<!-- <br>
<div class="container-fluid">
 <div class="row">
     <div class="col-lg-8">
         <p style="margin-left:20px; font-size: 18px;">Learning Path</p>
     </div>
     <div class="col-lg-4">
         <input class="form-control" placeholder="Search">
     </div> <br>
     <div class="row">
         <div class="col-lg-4">
            <p style="font-size:16px;margin-left:30px;" >Manager Assigned : 5 Courses/Year</p> 
         </div>
         <div class="col-lg-4"></div>
         <div class="col-lg-4">
             <p style="font-size:15px;margin-left:20px;" >Employee Completed : 2 Courses/5</p> 
         </div>
     </div>
     </div> <hr class="tagline">
       <div class="row">
        <div class="col-lg-12">
            <p style="margin-left:20px; font-size: 18px;" >Not Yet Started</p>
        </div>
       </div> 
      <div class="row">
        <div class="col-lg-3">
            <div class="card1" style="background-color: white; height:290px;width:290px;border-radius: 10px;"
                (click)="flip1($event)">
                <div class="back">
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                         <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 43px;color:maroon; margin-top: 5px;
                            margin-left: 5px;"></i>
                            <p style="font-size: 18px;">2016 Spi Global Overview</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <p>Start Date</p>
                            <p style="color:gray;font-size: 14px;">12 Jan 22</p>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5">
                            <p style="font-size: 14px;">End Date</p>
                            <p style="color:gray;font-size: 14px; ">Not applicable</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <progress id="file" value="0" max="100"
                                style="width:100%;height:15px;color:#4282be"></progress>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p style="font-size: 15px;">Item[S]</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <p style="font-size: 15px;">Videos</p>
                        </div>
                        <div class="col-lg-2">
                            <p style="font-size: 15px;">1/1</p>
                        </div>
                    </div> <br>
                    <div class="backflip">
                        <button class="bcakbtn">BACK</button>
                    </div>
                </div>
                <div class="front">
                    <br>
                    <div class="row title_outer1">
                        <div class="col-lg-12">
                            <img style="width:105px;height: auto;" src="assets/Images/download.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p style="font-size: 18px;">2016 SPI Global Overview</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <p>Not Started </p>
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <p>1 Items[s]</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <progress id="file" value="0" max="100" style="width:100%;height:15px;">0%</progress>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-6">
                             <button class="">Start Course</button>
                            <button type="button" class="btn btn-outline-secondary"
                            data-toggle="modal" data-target="#enroll">Enroll</button>
                        </div>
                        <div class="col-lg-6">
                            <button>Flip For Details</button>
                            <button type="button" class="btn btn-outline-secondary">Flip For Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card1" style="background-color: white; height:290px;width:290px;border-radius: 10px;"
                (click)="flip1($event)">
                <div class="back">
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                             <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 43px;color:maroon; margin-top: 5px;
                            margin-left: 5px;"></i> 
                            <p style="font-size: 18px;">Java Programming </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <p>Start Date</p>
                            <p style="color:gray;font-size: 14px;">12 Jan 22</p>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5">
                            <p style="font-size: 14px;">End Date</p>
                            <p style="color:gray;font-size: 14px; ">Not applicable</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <progress id="file" value="0" max="100"
                                style="width:100%;height:15px;color:#4282be"></progress>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p style="font-size: 15px;">Item[S]</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <p style="font-size: 15px;">Videos</p>
                        </div>
                        <div class="col-lg-2">
                            <p style="font-size: 15px;">1/1</p>
                        </div>
                    </div> <br>
                    <div class="backflip">
                        <button class="bcakbtn">BACK</button>
                    </div>
                </div>
                <div class="front">
                    <br>
                    <div class="row title_outer1">
                        <div class="col-lg-12">
                            <img style="width:130px;height: auto;" src="assets/Images/download2.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p style="font-size: 18px;">Java Programming </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <p>Not Started </p>
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <p>1 Items[s]</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <progress id="file" value="0" max="100" style="width:100%;height:15px;">0%</progress>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-6">
                             <button class="">Start Course</button> 
                            <button type="button" class="btn btn-outline-secondary"
                            data-toggle="modal" data-target="#enroll">Enroll</button>
                        </div>
                        <div class="col-lg-6">
                             <button>Flip For Details</button> 
                            <button type="button" class="btn btn-outline-secondary">Flip For Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card1" style="background-color: white; height:290px;width:290px;border-radius: 10px;"
                (click)="flip1($event)">
                <div class="back">
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 43px;color:maroon; margin-top: 5px;
                            margin-left: 5px;"></i>
                            <p style="font-size: 18px;">Communication Skills</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <p>Start Date</p>
                            <p style="color:gray;font-size: 14px;">12 Jan 22</p>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5">
                            <p style="font-size: 14px;">End Date</p>
                            <p style="color:gray;font-size: 14px; ">Not applicable</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <progress id="file" value="0" max="100"
                                style="width:100%;height:15px;color:#4282be"></progress>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p style="font-size: 15px;">Item[S]</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <p style="font-size: 15px;">Assesments</p>
                        </div>
                        <div class="col-lg-2">
                            <p style="font-size: 15px;">1/1</p>
                        </div>
                    </div> <br>
                    <div class="backflip">
                        <button class="bcakbtn">BACK</button>
                    </div>
                </div>
                <div class="front">
                    <br>
                    <div class="row title_outer1">
                        <div class="col-lg-12">
                            <img style="width:135px;height: auto;" src="assets/Images/download3.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p style="font-size: 18px;">Communication Skills</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <p>Not Started </p>
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <p>1 Items[s]</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <progress id="file" value="0" max="100" style="width:100%;height:15px;">0%</progress>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-6">
                         <button class="">Start Course</button>
                            <button type="button" class="btn btn-outline-secondary"
                            data-toggle="modal" data-target="#enroll">Enroll</button>
                        </div>
                        <div class="col-lg-6">
                             <button>Flip For Details</button>
                            <button type="button" class="btn btn-outline-secondary">Flip For Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div> <br>
      <div class="row">
        <div class="col-lg-12">
            <p style="margin-left:20px; font-size: 18px;" >In Progress</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
            <div class="card1" style="background-color: white; height:290px;width:290px;border-radius: 10px;"
                (click)="flip1($event)">
                <div class="back">
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                             <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 43px;color:maroon; margin-top: 5px;
                            margin-left: 5px;"></i> 
                            <p style="font-size: 18px;">Python</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <p>Start Date</p>
                            <p style="color:gray;font-size: 14px;">12 Jan 22</p>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5">
                            <p style="font-size: 14px;">End Date</p>
                            <p style="color:gray;font-size: 14px; ">Not applicable</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <progress id="file" value="0" max="100"
                                style="width:100%;height:15px;color:#4282be"></progress>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p style="font-size: 15px;">Item[S]</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <p style="font-size: 15px;">Assesments</p>
                        </div>
                        <div class="col-lg-2">
                            <p style="font-size: 15px;">1/1</p>
                        </div>
                    </div> <br>
                    <div class="backflip">
                        <button class="bcakbtn">BACK</button>
                    </div>
                </div>
                <div class="front">
                    <br>
                    <div class="row title_outer1">
                        <div class="col-lg-12">
                            <img style="width:100px;height: auto;" src="assets/Images/download.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p style="font-size: 18px;">Python</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <p style="font-size:15px;">Not Started </p>
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <p>1 Items[s]</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <progress id="file" value="0" max="100" style="width:100%;height:15px;">0%</progress>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-6">
                             <button class="">Start Course</button>
                            <button type="button" class="btn btn-outline-secondary" routerLink="/LearningPathDetails">Resume Course</button>
                        </div>
                        <div class="col-lg-6">
                         <button>Flip For Details</button> 
                            <button type="button" class="btn btn-outline-secondary">Flip For Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card1" style="background-color: white; height:290px;width:290px;border-radius: 10px;"
                (click)="flip1($event)">
                <div class="back">
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                         <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 43px;color:maroon; margin-top: 5px;
                            margin-left: 5px;"></i>
                            <p style="font-size: 18px;">Marketing</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <p>Start Date</p>
                            <p style="color:gray;font-size: 14px;">12 Jan 22</p>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5">
                            <p style="font-size: 14px;">End Date</p>
                            <p style="color:gray;font-size: 14px; ">Not applicable</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <progress id="file" value="0" max="100"
                                style="width:100%;height:15px;color:#4282be"></progress>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p style="font-size: 15px;">Item[S]</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <p style="font-size: 15px;">Assesments</p>
                        </div>
                        <div class="col-lg-2">
                            <p style="font-size: 15px;">1/1</p>
                        </div>
                    </div> <br>
                    <div class="backflip">
                        <button class="bcakbtn">BACK</button>
                    </div>
                </div>
                <div class="front">
                    <br>
                    <div class="row title_outer1">
                        <div class="col-lg-12">
                            <img style="width:100px;height: auto;" src="assets/Images/download.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p style="font-size: 18px;">Marketing</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <p  style="font-size:15px;"> Not Started </p>
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <p>1 Items[s]</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <progress id="file" value="0" max="100" style="width:100%;height:15px;">0%</progress>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-6">
                             <button class="">Start Course</button>
                            <button type="button" class="btn btn-outline-secondary" routerLink="/LearningPathDetails">Resume Course</button>
                        </div>
                        <div class="col-lg-6">
                             <button>Flip For Details</button> 
                            <button type="button" class="btn btn-outline-secondary">Flip For Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card1" style="background-color: white; height:290px;width:290px;border-radius: 10px;"
                (click)="flip1($event)">
                <div class="back">
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                             <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 43px;color:maroon; margin-top: 5px;
                            margin-left: 5px;"></i>
                            <p style="font-size: 18px;">Java Programming</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <p>Start Date</p>
                            <p style="color:gray;font-size: 14px;">12 Jan 22</p>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5">
                            <p style="font-size: 14px;">End Date</p>
                            <p style="color:gray;font-size: 14px; ">Not applicable</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <progress id="file" value="0" max="100"
                                style="width:100%;height:15px;color:#4282be"></progress>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p style="font-size: 15px;">Item[S]</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <p style="font-size: 15px;">Assesments</p>
                        </div>
                        <div class="col-lg-2">
                            <p style="font-size: 15px;">1/1</p>
                        </div>
                    </div> <br>
                    <div class="backflip">
                        <button class="bcakbtn">BACK</button>
                    </div>
                </div>
                <div class="front">
                    <br>
                    <div class="row title_outer1">
                        <div class="col-lg-12">
                            <img style="width:100px;height: auto;" src="assets/Images/download.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p style="font-size: 18px;">Java Programming</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <p  style="font-size:15px;">Not Started </p>
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <p>1 Items[s]</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <progress id="file" value="0" max="100" style="width:100%;height:15px;">0%</progress>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-6">
                             <button class="">Start Course</button> 
                            <button type="button" class="btn btn-outline-secondary" routerLink="/LearningPathDetails">Resume Course</button>
                        </div>
                        <div class="col-lg-6">
                            <button>Flip For Details</button> 
                            <button type="button" class="btn btn-outline-secondary">Flip For Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card1" style="background-color: white; height:290px;width:290px;border-radius: 10px;"
                (click)="flip1($event)">
                <div class="back">
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                             <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 43px;color:maroon; margin-top: 5px;
                            margin-left: 5px;"></i> 
                            <p style="font-size: 18px;">Angular</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <p>Start Date</p>
                            <p style="color:gray;font-size: 14px;">12 Jan 22</p>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5">
                            <p style="font-size: 14px;">End Date</p>
                            <p style="color:gray;font-size: 14px; ">Not applicable</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <progress id="file" value="0" max="100"
                                style="width:100%;height:15px;color:#4282be"></progress>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p style="font-size: 15px;">Item[S]</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <p style="font-size: 15px;">Assesments</p>
                        </div>
                        <div class="col-lg-2">
                            <p style="font-size: 15px;">1/1</p>
                        </div>
                    </div> <br>
                    <div class="backflip">
                        <button class="bcakbtn">BACK</button>
                    </div>
                </div>
                <div class="front">
                    <br>
                    <div class="row title_outer1">
                        <div class="col-lg-12">
                            <img style="width:100px;height: auto;" src="../../../assets/Images/download.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p style="font-size: 18px;">Angular</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <p  style="font-size:15px;">Not Started </p>
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <p>1 Items[s]</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <progress id="file" value="0" max="100" style="width:100%;height:15px;">0%</progress>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-outline-secondary" routerLink="/LearningPathDetails">Resume Course</button>
                        </div>
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-outline-secondary">Flip For Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <br>
    <div class="row">
        <div class="col-lg-12">
            <p style="margin-left:20px; font-size: 18px;" >Completed</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
            <div class="card1" style="background-color: white; height:290px;width:290px;border-radius: 10px;"
                (click)="flip1($event)">
                <div class="back">
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <p style="font-size: 18px;">Java Programming</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <p>Start Date</p>
                            <p style="color:gray;font-size: 14px;">12 Jan 22</p>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5">
                            <p>End Date</p>
                            <p style="color:gray">Not applicable</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <progress id="file" value="100" max="100" style="width:100%;height:15px;">0%</progress>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p style="font-size: 15px;">Item[S]</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <p style="font-size: 15px;">Videos</p>
                        </div>
                        <div class="col-lg-2">
                            <p style="font-size: 15px;">1</p>
                        </div>
                    </div> <br>
                    <div class="backflip">
                        <button class="bcakbtn">BACK</button>
                    </div>
                </div>
                <div class="front">
                    <br>
                    <div class="row title_outer1">
                        <div class="col-lg-12">
                            <img style="width:130px;height: auto;" src="assets/Images/download3.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p style="font-size: 18px;">Java Programming</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <p>Completed </p>
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <p>1 Items[s]</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <progress id="file" value="100" max="100"
                                style="width:100%;height:15px;color:#4282be"></progress>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-outline-secondary" routerLink="/ViewCourse">View
                                Course</button>
                        </div>
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-outline-secondary">Flip For Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card1" style="background-color: white; height:290px;width:290px;border-radius: 10px;"
                (click)="flip1($event)">
                <div class="back">
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                             <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 43px;color:maroon; margin-top: 5px;
                            margin-left: 5px;"></i> 
                            <p style="font-size: 18px;">Python</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <p>Start Date</p>
                            <p style="color:gray;font-size: 14px;">12 Jan 22</p>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5">
                            <p>End Date</p>
                            <p style="color:gray">Not applicable</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <progress id="file" value="100" max="100" style="width:100%;height:15px;">0%</progress>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p style="font-size: 15px;">Item[S]</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <p style="font-size: 15px;">Videos</p>
                        </div>
                        <div class="col-lg-2">
                            <p style="font-size: 15px;">1</p>
                        </div>
                    </div> <br>
                    <div class="backflip">
                        <button class="bcakbtn">BACK</button>
                    </div>
                </div>
                <div class="front">
                    <br>
                    <div class="row title_outer1">
                        <div class="col-lg-12">
                            <img style="width:130px;height: auto;" src="assets/Images/download3.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p style="font-size: 18px;">Python</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <p>Completed </p>
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <p>1 Items[s]</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <progress id="file" value="100" max="100"
                                style="width:100%;height:15px;color:#4282be"></progress>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-6">
                             <button class="">Start Course</button> 
                            <button type="button" class="btn btn-outline-secondary" routerLink="/ViewCourse">View
                                Course</button>
                        </div>
                        <div class="col-lg-6">
                             <button>Flip For Details</button> 
                            <button type="button" class="btn btn-outline-secondary">Flip For Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div> <br>
</div>

<div id="enroll" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Enroll for Course</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text">Name:</label>
                    </div>
                    <div class="col-lg-5">
                         <select class="form-control" [(ngModel)]="Hired">
                            <option value="">Select </option>
                            <option>Yes</option>  
                            <option>No</option> 
                        </select> 
                        <input class="form-control" name="NoofpositionsHired" id="NoofpositionsHired"
                            placeholder="Peeter Ferin" disabled>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text" style="font-weight: bold;">Phone No:</label>
                    </div>
                    <div class="col-lg-5">
                        <input class="form-control" name="NoofpositionsHired" id="NoofpositionsHired"
                            placeholder="9843873473" disabled>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text" style="font-weight: bold;">Email:</label>
                    </div>
                    <div class="col-lg-5">
                        <input class="form-control" name="NoofpositionsHired" id="NoofpositionsHired"
                            placeholder="Ferin123@gmail.com" disabled>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-2">
                        <button class="form-control Save" (click)="enroll()">Enroll</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <hr>
                <div class="col-lg-2">
                    <button data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="container-fluid">
   <div class="card">
       <br>
       <div class="row">
           <div class="col-lg-2">
               <P class="filter2">Employee Name:</P>
           </div>
           <div class="col-lg-3">
            <select  class="form-control "  id="" >
                <option class="FilterClass"  value="0">Select Employee Name</option>
                <option class="FilterClass">Emp 1</option>
                <option class="FilterClass">Emp 2</option>
                <option class="FilterClass">Emp 3</option>
                <option class="FilterClass">Emp 4</option>
            </select>
           </div>
           <div class="col-lg-1"></div>
           <div class="col-lg-2">
               <p class="filter2">Year:</p>
           </div>
           <div class="col-lg-3">
            <select  class="form-control "  id="Duration" >
                <option class="FilterClass"  value="0">Select Year</option>
                <option class="FilterClass" >2022</option>
                <option class="FilterClass" >2021</option>
                <option class="FilterClass" >2020</option>
                <option class="FilterClass" >2019</option>
            </select>
           </div>
       </div><br><br>

       <div class="row">
        <div class="col-lg-1" ></div>
        <div class="col-lg-2" >
            <button type="button" class="btn btn-danger" data-toggle="modal"
            data-target="#enroll">Assigned</button>
        </div>
    </div><br><br><br>

    <div class="row">
        <div class="col-lg-1" ></div>
        <div class="col-lg-2" >
            <button type="button" class="btn btn-light" data-toggle="modal"
            data-target="#enroll2">In Progress</button>
        </div>
    </div><br><br><br>

    <div class="row">
        <div class="col-lg-1" ></div>
        <div class="col-lg-2" >
            <button type="button" class="btn btn-success" data-toggle="modal"
            data-target="#enroll3">Completed</button>
        </div>
    </div><br><br><br>

       <div class="VerticalGreyLine1">
       </div>
       <div class="VerticalGreyLine2">
       </div>
   </div>
</div>


<div id="enroll" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title PopUpCard">Assigned for Courses</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <!-- <div class="row">
                    <div class="col-lg-3">
                        <label class="Text" style="font-weight: bold;">Name:</label>
                    </div>
                    <div class="col-lg-5">
                        <input class="form-control" name="name" id="name"
                            placeholder="Name" disabled>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text" style="font-weight: bold;">Phone No:</label>
                    </div>
                    <div class="col-lg-5">
                        <input class="form-control" name="mobile" id="mobile"
                            placeholder="mobile" disabled>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text" style="font-weight: bold;">Email:</label>
                    </div>
                    <div class="col-lg-5">
                        <input class="form-control" name="emailID" id="emailID"
                            placeholder="Email ID" disabled>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text" style="font-weight: bold;">Manager:</label>
                    </div>
                    <div class="col-lg-5">
                        <input class="form-control" name="emailID" id="emailID" 
                            placeholder="Manager" disabled>
                    </div>
                </div> <br> -->
                 
                    <div class="row">
                        <div class="col-lg-12">
                            <table style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Employee Name</th>
                                        <th>Course Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td style="font-size: 15px;">Harry</td>
                                        <td style="font-size: 15px;">Python Fullstack Developer</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td style="font-size: 15px;">Chriss</td>
                                        <td style="font-size: 15px;">JAVA Fullstack Developer</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td style="font-size: 15px;">Henric</td>
                                        <td style="font-size: 15px;">MERN Developer</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td style="font-size: 15px;">Anand K</td>
                                        <td style="font-size: 15px;">MEAN Developer</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td style="font-size: 15px;">Akash SJ</td>
                                        <td style="font-size: 15px;">Digital Marketing</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                


                <!-- <div class="row">
                    <div class="col-lg-7"></div>
                    <div class="col-lg-2">
                        <button class="form-control Save"
                            data-dismiss="modal">Enroll</button>
                    </div>
                </div> -->
            </div>
            <div class="modal-footer">
                <!-- <hr>
                <div class="col-lg-2">
                    <button data-dismiss="modal" class="CloseBTN">Close</button>
                </div> -->
            </div>
        </div>
    </div>
</div>

<div id="enroll2" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title PopUpCard">In Progress Courses</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <!-- <div class="row">
                    <div class="col-lg-3">
                        <label class="Text" style="font-weight: bold;">Name:</label>
                    </div>
                    <div class="col-lg-5">
                        <input class="form-control" name="name" id="name"
                            placeholder="Name" disabled>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text" style="font-weight: bold;">Phone No:</label>
                    </div>
                    <div class="col-lg-5">
                        <input class="form-control" name="mobile" id="mobile"
                            placeholder="mobile" disabled>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text" style="font-weight: bold;">Email:</label>
                    </div>
                    <div class="col-lg-5">
                        <input class="form-control" name="emailID" id="emailID"
                            placeholder="Email ID" disabled>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="Text" style="font-weight: bold;">Manager:</label>
                    </div>
                    <div class="col-lg-5">
                        <input class="form-control" name="emailID" id="emailID" 
                            placeholder="Manager" disabled>
                    </div>
                </div> <br> -->
                 
                    <div class="row">
                        <div class="col-lg-12">
                            <table style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Employee Name</th>
                                        <th>Course Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td style="font-size: 15px;">Harry</td>
                                        <td style="font-size: 15px;">Python Fullstack Developer</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td style="font-size: 15px;">Chriss</td>
                                        <td style="font-size: 15px;">JAVA Fullstack Developer</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td style="font-size: 15px;">Henric</td>
                                        <td style="font-size: 15px;">MERN Developer</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td style="font-size: 15px;">Anand K</td>
                                        <td style="font-size: 15px;">MEAN Developer</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td style="font-size: 15px;">Akash SJ</td>
                                        <td style="font-size: 15px;">Digital Marketing</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                


                <!-- <div class="row">
                    <div class="col-lg-7"></div>
                    <div class="col-lg-2">
                        <button class="form-control Save"
                            data-dismiss="modal">Enroll</button>
                    </div>
                </div> -->
            </div>
            <div class="modal-footer">
                <!-- <hr>
                <div class="col-lg-2">
                    <button data-dismiss="modal" class="CloseBTN">Close</button>
                </div> -->
            </div>
        </div>
    </div>
</div>

<div id="enroll3" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title PopUpCard">Completed Courses</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <table style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Course Name</th>
                                        <th>Employee Name</th>
                                        <th>Assigned Date</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Percentage</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td style="font-size: 15px;">Java Fullstack Developer</td>
                                        <td style="font-size: 15px;">M John</td>
                                        <td style="font-size: 15px;">15/06/2021</td>
                                        <td style="font-size: 15px;">01/07/2021</td>
                                        <td style="font-size: 15px;">05/10/2021</td>
                                        <td style="font-size: 15px;">100%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td style="font-size: 15px;">Angular Developer</td>
                                        <td style="font-size: 15px;">Akash kumar</td>
                                        <td style="font-size: 15px;">18/07/2021</td>
                                        <td style="font-size: 15px;">02/08/2021</td>
                                        <td style="font-size: 15px;">30/10/2021</td>
                                        <td style="font-size: 15px;">100%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td style="font-size: 15px;">Python Developer</td>
                                        <td style="font-size: 15px;">Joseph</td>
                                        <td style="font-size: 15px;">02/06/2021</td>
                                        <td style="font-size: 15px;">15/07/2021</td>
                                        <td style="font-size: 15px;">16/10/2021</td>
                                        <td style="font-size: 15px;">100%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td style="font-size: 15px;">MEAN Developer</td>
                                        <td style="font-size: 15px;">Vipul Kulkarni</td>
                                        <td style="font-size: 15px;">20/08/2021</td>
                                        <td style="font-size: 15px;">05/09/2021</td>
                                        <td style="font-size: 15px;">10/11/2021</td>
                                        <td style="font-size: 15px;">100%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td style="font-size: 15px;">Digital Marketing</td>
                                        <td style="font-size: 15px;">Prakash Raj</td>
                                        <td style="font-size: 15px;">15/10/2021</td>
                                        <td style="font-size: 15px;">01/11/2021</td>
                                        <td style="font-size: 15px;">16/12/2021</td>
                                        <td style="font-size: 15px;">100%</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td style="font-size: 15px;">DevOps</td>
                                        <td style="font-size: 15px;">Harry J</td>
                                        <td style="font-size: 15px;">03/07/2021</td>
                                        <td style="font-size: 15px;">06/07/2021</td>
                                        <td style="font-size: 15px;">04/10/2021</td>
                                        <td style="font-size: 15px;">100%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                


                <!-- <div class="row">
                    <div class="col-lg-7"></div>
                    <div class="col-lg-2">
                        <button class="form-control Save"
                            data-dismiss="modal">Enroll</button>
                    </div>
                </div> -->
            </div>
            <div class="modal-footer">
                <!-- <hr>
                <div class="col-lg-2">
                    <button data-dismiss="modal" class="CloseBTN">Close</button>
                </div> -->
            </div>
        </div>
    </div>
</div>