<div class="container-fluid">
            <div class="row">
                <div class="col-lg-10">
                    <p class="headings">Course Dashboard</p>
                </div>
                <div class="col-lg-2">
                    <p class="Text" style="float:right; padding-right:50px;">Count:{{count}}</p>
                </div>
            </div><hr>
          
            <div class="card">
                <br>
            <div class="row FilterClass ">
                <div class="col-lg-1">
                    <p class="Text">Filter By </p>
                </div>
                <div class="col-lg-3">
                    <select  class="form-control FilterClass"  id="Duration" (change)="getcategoryid($event)" >
                        <option class="FilterClass"  value="0">Select Category</option>
                        <option class="FilterClass" *ngFor="let cat  of categorylist" value="{{cat.name}}">{{cat.name}}</option>
                    </select>
                </div>
                <div class="col-lg-5">
                        <input type="search" class="form-control" placeholder="Search for Course"  [(ngModel)]="search">
                </div>
            </div><br>
        </div> <br>
            <div class="row">
                <div class="col-lg-9"></div>
                <div class="col-lg-3">
                    <button class=button routerLink="/Course">Add</button>
                </div>
            </div> <br>



            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                            <table class="table | filter: search">
                            <thead>
                                <tr class="head">
                                    <th>Category Name</th>
                                    <th>Course Name</th>
                                    <th>Description</th>
                                    <th>Photo</th>
                                    <th>Duration</th>
                                    <th>Fee</th>
                                    <th>Entry Criteria</th>
                                    <th>Exit Criteria</th>
                                    <th>Actions</th>
                                </tr>
                                <tr class="header" *ngFor="let details of result | filter: search">
                                    <td>{{details.categoryName}}</td>
                                    <td>{{details.name}}</td>
                                    <td>{{details.description}}</td>
                                    <td>

                                        <img src="{{details.photo}}" width="50%" height="auto">
                                    </td>
                                    <td>{{details.duration}}</td>
                                    <td>{{details.fee}}</td>
                                    <td>{{details.entryCriteria}}</td>
                                    <td>{{details.exitCriteria}}</td>
                                    <td><button class="button1" (click)="Update(details.id)">Edit</button> <br> <br>
                                        <button class="button2" (click)="Ondelete(details.id)" >Delete</button>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                        <ng-template #noResults>
                            <p class="NoResultShow"> No results found for "{{search}}" </p>
                        </ng-template>
                    </div>
                </div>
            </div>
     
</div>
