.heading {
    padding: 5px;
    background-color: black;
    color: white;
    margin: 1px;
    border-radius: 5px;
    font-weight: bold;
}

.card1 {
    height: 175px;
    width: 70%;
    border-radius: 5px;
    border: transparent;
    background-color: rgb(185, 183, 183);
    margin-bottom: 10px;
    
}
.image{
    width: 50%;
    height: auto;
    margin-left: 60px;
    margin-top: 20px;
}
.button{
    background-color: black;
    color: white;
}
.rowwidth{
    height: 500px;
    overflow-y: scroll;
}
table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: burlywood;
    color: white;
}